.navbar {
    background-color: #cf3d3d;
    justify-content: space-between;
    display: flex;

    align-items: center;
    z-index: 100;
    height: $navbar-height;
    position: relative;

    @media (max-width: 768px) {
        height: 4.5rem;
    }

    .links-list {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: 100%;

        .icon-holder {
            display: none;
            @media (max-width: 768px) {
                display: block;
                position: absolute;
                top: 50%;
                right: 1rem;
                transform: translate(0, -50%);
            }
        }
    }

    .list-item {
        display: inline-block;

        // display: none;
        height: 100%;

        @media (max-width: 768px) {
            opacity: 0;
            pointer-events: none;

            &.list-item-logo {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

    .list-item-right {
        display: inline-block;
        // display: none;
        height: 100%;

        @media (max-width: 768px) {
            display: none;
        }
    }

    .logo {
        font-family: "PT Sans Narrow", sans-serif;
        font-weight: 600;
        font-size: 2.4rem;
        padding: 0 1rem;
        color: rgb(255, 255, 255);
        letter-spacing: 1px;
        cursor: pointer;
        margin-right: 0.5rem;
        transform: rotateZ(-2.5deg) skewY(-2deg);
        transition: all 0.3s ease;
        &:hover {
            animation: bonk 1s ease-out;
            animation-fill-mode: forwards;
        }

        @media (max-width: 768px) {
            font-size: 2.1rem;
        }
    }

    .mobile-menu {
        opacity: 0;
        pointer-events: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(46, 41, 51, 0.85);
        z-index: 200;
        font-family: "PT Sans Narrow", sans-serif;
        transition: all 0.4s ease;

        &.is-open {
            opacity: 1;
            pointer-events: auto;
        }

        .links-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: 0.8s all ease;

            li {
                a,
                p {
                    text-decoration: none;
                    color: white;
                    font-size: 2.4rem;
                    letter-spacing: 3px;
                }

                p {
                    color: rgb(211, 136, 136);
                    cursor: pointer;
                }
            }

            @media (orientation: landscape) {
                font-size: 1.8rem;
            }

            li:not(:last-child) {
                margin-bottom: 2.25rem;
            }

            li.mobile-logout {
                margin-top: 3rem;
            }
        }
    }

    .icon-holder {
        position: fixed;
        top: 1rem;
        right: 1rem;
        svg {
            color: white;
            cursor: pointer;
        }
    }
}

.link {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.welcome {
    font-size: 1.25rem;
    letter-spacing: 1px;
}
