.App {
    padding: 10px;
}

.testGutter {
    width: 200px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Test {
    width: 500px;
    text-align: left;
}

button {
    margin: 0.5rem 0;
}

.CodeMirror .CodeMirror-sizer pre.CodeMirror-line {
    padding: 0 0 0 1rem;
}
