@font-face {
    font-family: "Andika Basic";
    src: url(./fonts/AndBasR.ttf) format("truetype");
}
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Andika Basic", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    src: url(./fonts/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "PT Sans Narrow";
    font-weight: 400;
    src: url(./fonts/PTSansNarrow-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "PT Sans Narrow";
    font-weight: 600;
    src: url(./fonts/PTSansNarrow-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "PT Sans";
    font-weight: 400;
    src: url(./fonts/PTSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "PT Sans";
    font-weight: 600;
    src: url(./fonts/PTSans-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Lato";
    font-weight: 400;
    src: url(./fonts/Lato-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Source Code Pro";
    font-weight: 400;
    src: url(./fonts/SourceCodePro-Regular.ttf);
}
