.spinnerLoading {
    margin-left: 0.5rem;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 4px solid rgba(177, 183, 235, 0.644);
    border-radius: 50%;
    border-top-color: rgba(20, 38, 194, 0.644);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

.spinnerLoadingAlt {
    margin-left: 0.5rem;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 4px solid rgba(177, 183, 235, 0.644);
    border-radius: 50%;
    border-top-color: rgba(20, 38, 194, 0.644);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
