.#{$rt-namespace}__toast {
    position: relative;
    min-height: $rt-toast-min-height;
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: 12px;
    border-radius: 1px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    max-height: $rt-toast-max-height;
    overflow: hidden;
    font-family: "Lato", sans-serif;
    cursor: pointer;
    direction: ltr;
    font-size: 1.45rem;
    &--rtl {
        direction: rtl;
    }
    &--dark {
        background: $rt-color-dark;
        color: $rt-text-color-dark;
    }
    &--default {
        background: $rt-color-default;
        color: $rt-text-color-default;
    }
    &--info {
        background: $rt-color-info;
    }
    &--success {
        background: $rt-color-success;
    }
    &--warning {
        background: orange;
    }
    &--error {
        background: $rt-color-error;
    }
    &-body {
        margin: auto 0;
        flex: 1 1 auto;
    }
}

@media #{$rt-mobile} {
    .#{$rt-namespace}__toast {
        margin-bottom: 0;
    }
}
