<h1>Add Fractions with Unlike Denominators</h1>
<p>In this module, you’re going to learn how to add two fractions that have unlike denominators.</p>
<p>
    <strong>Example #1:</strong> Add the two fractions below.
</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/5.nf_.1.a1.png" />
</div>
<p>
    In this example, we’ll write some code to add together the two fractions with unlike denominators.
</p>
<pre><code>leftNumerator = int( input("What is the left numerator?"))
leftDenominator = int( input("What is the left denominator?"))
rightNumerator = int( input("What is the right numerator?"))
rightDenominator = int( input("What is the right denominator?"))

finalNumerator = (rightDenominator * leftNumerator) + (rightNumerator * leftDenominator)
finalDenominator = leftDenominator * leftNumerator

print(str(finalNumerator) + " / " + str(finalDenominator))</code></pre>
<p>Let’s look at the example problem again.</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/5.nf_.1.a1-1.png" />
</div>
<p>
    To type lines 1-4 of our code, we need to make sure we remember what part of the fractions we’re
    referring to.
</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/5.nf_.1.b1-1.png" />
</div>
<p>In lines 1-4 of our code, then, we want to ask the user to enter all four values.</p>
<pre><code>leftNumerator = int( input("What is the left numerator?"))
leftDenominator = int( input("What is the left denominator?"))
rightNumerator = int( input("What is the right numerator?"))
rightDenominator = int( input("What is the right denominator?"))</code></pre>
<p>
    Now, that we have all four values entered, we can start the process of adding both fractions. Before
    we can add both of these fractions, they need to have something in common. Right now, all they have
    in common is that they’re fractions. If we want to add them together, we need to make sure they both
    have the same denominator.
</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/5.nf_.1.a1-2.png" />
</div>
<p>To do that, we need to multiply each fraction by the opposite fraction’s denominator.</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/5.nf_.1.o1.png" />
</div>
<p>When we do, we two fractions with the same denominator, and now we can add them together.</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/5.nf_.1.p1.png"></img>
</div>
<p>
    Don’t forget though, when we add two fractions with the same denominator, we only need to add the
    two numerators together.
</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/5.nf_.1.q1.png" />
</div>
<p>
    With our code, we’re going to try and approach it the same way. Since we multiplied the Right
    Denominator, 4, with the Left Numerator, 2, we’ll write the code for that.
</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/5.nf_.1.r1.png" />
</div>
<pre><code>rightDenominator * leftNumerator</code></pre>
<p>
    This would be the same then as multiplying 4 (i.e., the denominator of 1/4) by 2 (i.e., the
    numerator of 2/3).
</p>
<p>
    Since we multiplied the Right Numerator, 1, with the Left Denominator, 3, we’ll write that out in
    code.
</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/5.nf_.1.s1.png" />
</div>
<pre><code>rightNumerator * leftDenominator</code></pre>
<p>
    This would be the same then as multiplying 1 (i.e., the numerator of 1/4) by 3 (i.e., the
    denominator of 2/3).
</p>
<p>
    If we look back at what we did after multiplying both values, we’ll see that we added the two
    products together, 8 and 3, in the numerator.
</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/5.nf_.1.q1-1.png" />
</div>
<p>So, the code for our final numerator should look like the following.</p>
<pre><code>finalNumerator = (rightDenominator * leftNumerator) + (rightNumerator * leftDenominator)`}</code></pre>
<p>
    As for the <strong>Final Denominator</strong>, we just multiplied both denominators together, the
    <strong>Left Denominator</strong> and the <strong>Right Denominator</strong>.
</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/5.nf_.1.t1.png" />
</div>
<pre><code>finalDenominator = leftDenominator * leftNumerator</code></pre>

<p>
    Now, that we know our final numerator and our final denominator, we can use the print function to
    display the <strong>final or resulting fraction</strong>.
</p>
<pre><code>print(str(finalNumerator) + " / " + str(finalDenominator))</code></pre>
<h3>Your Turn</h3>
<p>Add the following fractions: 1/6 and 3/4.</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/addingfractions1.png" />
</div>
<h3>Challenge</h3>
<em>
    If you wish to complete the challenge, be sure to turn sandbox mode on! Completing the challenge is
    not required.
</em>
<p>
    If the resulting fraction is an improper fraction, write the code that would show the final fraction
    as a mixed number.
</p>