<h1>Array Multiplication</h1>
<p>
    In this module, you’re going to learn how to multiply two numbers used to describe an array
    (basically, a rectangle).
</p>
<p>
    <strong>Example #1:</strong> The array below has several different properties.
</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/math/array-3-by-5-a1.png"></img>
</div>
<p>It has rows. The five grey circles wrapped in blue equals one row.</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/math/array-3-by-5-b1.png"></img>
</div>
<p>That means, this array has 3 rows.</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/math/array-3-by-5-c1.png"></img>
</div>
<p>
    But to do the multiplication, we need to know how many circles are in each row. In this example,
    there are 5 circles.
</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/math/array-3-by-5-d1.png"></img>
</div>
<p>
    In this example, we’ll write some code to help us figure out how many circles there are in total
    Let’s look at the code below:
</p>
<pre><code>rows = input("How many rows are there in the array?")
circles = input("How many circles are in each row?")
product = int(rows) * int(circles)
print("There are " + str(product) + " circles in total.")</code></pre>
<p>
    In line 1, we’re using <span class="purple">input()</span> to ask the user how many rows there
    are. Whatever amount the user responds with, we’ll assign it the variable, <strong>rows</strong>. In
    line 2, we’re using <span class="purple">input()</span> to ask the user how many circles are in
    each row. Whatever amount the user responds with, we’ll assign it the variable, <strong>circles</strong>.
</p>
<pre><code>rows = input("How many rows are there in the array?")
circles = input("How many circles are in each row?")</code></pre>
<p>
    Once we know how many rows there are and how many circles there are in each row, what do we do with
    the two numbers? We multiply them!
</p>
<pre><code>product = int(rows) * int(circles)</code></pre>
<p>
    Finally, we need the code to actually show you the answer. For this, we use the
    <span class="purple">print</span> function.
</p>
<pre><code>print("There are " + str(product) + " circles in total.")</code></pre>
<p>
    Python prints <strong>strings</strong>, or lines of text or words. If you want Python to print a
    number, you need to change it to a string. To do this, we add <span class="purple">str()</span> 
    to the number or variable.
</p>
<p>
    Since <strong>product</strong> equals a number, if we want <span class="purple">print()</span>
    to work, we need to make it a string.
</p>
<p>Now, we have the complete code for figuring out how many circles there are in the array.</p>
<h3>Your Turn</h3>
<p>How many circles are there in this array?</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/math/array-3-by-5-e1.png"></img>
</div>