<h1>More Fraction Practice</h1>
<p>
    Here is another problem practicing what we learned!
</p>
<p></p>
<pre><code>leftNumerator = input("What is numerator of the left fraction?")
leftDenominator = input("What is the denominator of the left fraction?")
rightNumerator = input("What is the numerator of the right fraction?")
rightDenominator = input("What is the denominator of the right fraction?")

newLeft = int(rightDenominator) * int(leftNumerator)
newRight = int(leftDenominator) * int(rightNumerator)

if newLeft &gt; newRight:
  print("&gt;, is greater than")
if newLeft &lt; newRight:
  print("	&lt;, is less than")</code></pre>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/math/3-nf-3-b1-1.png" />
</div>
<h3>Your Turn</h3>
<p>Solve the following fraction.</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/math/fraction2.png" alt="" />
</div>
