<h1>Comparing Two Numbers</h1>
<p>
    In this module, you’re going to learn how to compare two numbers and determine which one is greater.
</p>
<p>
    <strong>Example #1:</strong> Which number is greater?
</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/4.nbt_.2.a1.png" />
</div>
<p>In this example, we’ll write some code to determine which number is greater.</p>
<pre><code>first = int( input("What is the first number?"))
second = int( input("What is the second number?"))

if first &gt; second:
  greatest = first
  lowest = second
if first &lt; second:
  lowest = first
  greatest = second

print(str(greatest) + " &gt; " + str(lowest))
print(str(greatest) + " is greater than " + str(lowest))</code></pre>
<p>In lines 1-2, we are asking the use to tell us what the two numbers are that we want to compare.</p>
<pre><code>first = int( input("What is the first number? "))
second = int( input("What is the second number? "))</code></pre>
<p>
    Once we know the two numbers, we want to compare the two values. In one scenario, the first number
    provided might be <strong>greater than</strong> the second number. In this case, we need to identify
    which value is the <strong>greatest</strong> value and which value is the <strong>lowest</strong> 
    value.
</p>
<pre><code>if first &gt; second:
  greatest = first
  lowest = second</code></pre>
<p>
    In another scenario, the first number provided might be <strong>less than</strong> the second
    number. Just like before, we need to identify which value is the <strong>greatest</strong> value and
    which value is the <strong>lowest</strong> value.
</p>
<pre><code>if first &lt; second:
  lowest = first
  greatest = second</code></pre>
<p>
    Once we have accounted for either scenario, we can use the <span class="purple">print</span> 
    function to display the result. In the code below, we are showing the comparison both in math
    symbols and in words.
</p>
<pre><code>print(str(greatest) + " &gt; " + str(lowest))
print(str(greatest) + " is greater than " + str(lowest))</code></pre>
<h3>Your Turn</h3>
<p>Compare the numbers 58 and 63.</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/comparingfractions1.png"></img>
</div>