<h1>Comparing Fractions</h1>
<p>
    In this module, you’re going to learn how to compare two fractions and determine which fraction is
    greater.
</p>
<p>
    <strong>Example #1:</strong> Determine which fraction is greater.
</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/math/3-nf-3-a1.png"></img>
</div>
<p>In this example, we’ll write some code to help determine if we use &gt;, the greater than sign, or &lt;, the less than sign.</p>
<pre><code>leftNumerator = input("What is numerator of the left fraction?")
leftDenominator = input("What is the denominator of the left fraction?")
rightNumerator = input("What is the numerator of the right fraction?")
rightDenominator = input("What is the denominator of the right fraction?")

newLeft = int(rightDenominator) * int(leftNumerator)
newRight = int(leftDenominator) * int(rightNumerator)

if newLeft &gt; newRight:
print("&gt;, is greater than")
if newLeft &lt; newRight:
print("	&lt;, is less than")</code></pre>
<p>
    In lines 1 – 4, we’re using <span class="purple">input()</span> to ask the user to list the
    numerator and denominator for the left fraction and the right fraction.
</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/math/3-nf-3-b1-1.png" />
</div>
<p>{`In this example, we’ll write some code to help determine if we use &gt;, the greater than sign, or &lt;, the less than sign.`}</p>
<pre><code>leftNumerator = input("What is numerator of the left fraction?")
leftDenominator = input("What is the denominator of the left fraction?")
rightNumerator = input("What is the numerator of the right fraction?")
rightDenominator = input("What is the denominator of the right fraction?")`}</code></pre>
<p>
    In lines 6-7, we start multiplying different numbers. If you look below, you’ll see that we’re doing
    something with the <strong>leftNumerator</strong> and the <strong>rightDenominator</strong>. We’re
    multiplying both numbers. We’re also doing something with the <strong>leftDenominator</strong> and
    the <strong>rightNumerator</strong>. We’re multiplying those numbers.
</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/math/3-nf-3-c1.png"></img>
</div>
<pre><code>newLeft = int(rightDenominator) * int(leftNumerator)
newRight = int(leftDenominator) * int(rightNumerator}</code></pre>
<p>
    Any idea why we typed <span class="purple">int()</span> around each number? We need to make sure
    we’re multiplying numbers. When we type <span class="purple">int()</span> around each variable,
    we guarantee that we’re working with numbers.
</p>
<p>{`In lines 9-12, we use the results of multiplying the numbers in lines 6-7 to determine if we need to write >, is greater than, or <, is less than.`}</p>
<pre><code>if newLeft &gt; newRight:
print(“&gt;, is greater than”)
if newLeft &lt; newRight:
print(“&lt;, is less than”)`}</code></pre>
<h3>Your Turn</h3>
<p>Solve the following fraction.</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/math/fraction1.png" alt="" />
</div>