<h1>Convert Metric Measurements</h1>
<p>
    Time to apply what we already learned!
</p>
<pre><code>millimeters = int( input("How many mm do you want to convert?"))

centimeters = millimeters / 10
print(str(millimeters) + " mm = " + str(centimeters) + " cm.")

meters = millimeters / 1000
print(str(millimeters) + " mm = " + str(meters) + " m.")</code></pre>

<h3>Your Turn</h3>
<p>Convert 68 mm into cm and m.</p>
