<h1>Convert Mixed Metric Units</h1>
<p>
    In this module, you’re going to learn how to convert mixed metric units and express metric length in
    terms of smaller units.
</p>
<pre><code>kilometer = int( input("How many km do you want to convert?"))
meter = int( input("How many m do you want to convert?"))

kilometerTOmeter = kilometer * 1000
total = kilometerTOmeter + meter
print(str(kilometer) + "km " + str(meter) + "m = " + str(total) + "m.")</code></pre>
<p>
    In line 1, we used the <span class="purple">input</span> function to have the user tell us how
    many km, or kilometers, are listed in the problem. In line 2, we used another{" "}
    <span class="purple">input</span> function to have the user tell us how many m, or meters, are
    listed in the problem.
</p>
<pre><code>int( input("How many km do you want to convert?"))
meter = int( input("How many m do you want to convert?"))</code></pre>
<p>
    Now, if we have a value written with two different units, like we have in our example problem, we
    need to figure out how to convert the value and express it into one unit.
</p>
<p>
    In the example problem, we have km, or kilometers, and m, or meters. Usually, when we convert a
    value like these, we like to convert all the numbers to the smallest unit. In this case, the
    smallest unit between kilometers and meters is meters. So, that means we need to convert 6 km to m.
</p>
<p>We know that 1 km = 1,000m, or 1 kilometer = 1,000 meters.</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/4.md_.1.a1.png"></img>
</div>
<p>What if we had 6 kilometers? How many meters would that equal?</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/4.md_.1.c1.png"></img>
</div>
<p>
    If we know that 1 km = 1000 m by multiplying 1000 by 1 km, then we could use the same thinking to
    find out how many meters would equal 6 kilometers.
</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/4.md_.1.b1.png"></img>
</div>
<p>
    From our chart, it looks like 6 km = 6000 m. So, how did we figure that out? We multiplied the
    number of kilometers by 1000 to find out how many meters it equals. We want to do the same thing
    with the code.
</p>
<pre><code>kilometerTOmeter = kilometer * 1000</code></pre>
<p>
    Now we know what 6 kilometers is expressed in meters. All we have to do is add that value to the
    number of meters we had in the beginning, 237 m, and we’ll get our final answer.
</p>
<pre><code>total = kilometerTOmeter + meter</code></pre>
<p>Then, all we have to do is display our final answer using the print function.</p>
<pre><code>print(str(kilometer) + "km " + str(meter) + "m = " + str(total) + "m.")</code></pre>
<h3>Your Turn</h3>
<p>Convert the following mixed-metric unit.</p>
<div class="imgContainer">
<img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/convertMixedMetricUnit1.png" />
</div>