<h1>Find 10x and 1/10 of a Number</h1>
<p>
    In this module, you’re going to learn how to find ten times a number and one-tenth of a given number.
</p>
<p><strong>Example #1:</strong> Find ten times and one-tenth of the number 54.</p>
<pre><code>number = int( input("Enter a number from 1 to 1000:"))
tentimes = number * 10
print("Ten times " + str(number) + " equals " + str(tentimes))
onetenth = number / 10
print("One-tenth of " + str(number) + " equals " + str(onetenth))</code></pre>
<p>In line 1, we use the input function to ask the user to enter a number from 10 to 999.</p>
<pre><code>number = int( input("Enter a number from 1 to 1000:"))</code></pre>
<p>
    In order to find the value that is ten times the number given, we need to multiply the number entered by the user by
    10 and assign it a new name. In this case, we’re going to assign it the name{" "}
    <strong>tentimes</strong>.
</p>
<pre><code>tentimes = number * 10</code></pre>
<p>
    Then, we’ll use the <span class="purple">print</span> function to display the result of multiplying the given number
    by 10.
</p>
<pre><code>print("Ten times " + str(number) + " equals " + str(tentimes))</code></pre>
<p>When we look at <strong>one-tenth of the number 54</strong> in mathematical terms, we get the following:</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/5.nbt_.1.a1.png" />
</div>
<p>
    Typing a fraction into the code is a little difficult, so we need to think of a different way of writing
    <strong>one-tenth of the number 54</strong> without losing its value.
</p>
<p>
    First, we need to look at the problem and identify what we know. We know that 54 can be re-written as a fraction.
</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/5.nbt_.1.b1.png" />
</div>
<p>If we change 54 for its fraction form in the original problem we get the following:</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/5.nbt_.1.c1.png" />
</div>
<p>
    Now, what can we do with two fractions when we multiply them? Well, multiplying two fractions is like multiplying
    the <strong>numerators</strong> and the <strong>denominators</strong>.
</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/5.nbt_.1.d1.png" />
</div>
<p>
    To make this easier, we could just draw the fraction line across, so it actually looks like we’re multiplying the
    <strong>numerators</strong> together and the <strong>denominators</strong> together.
</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/5.nbt_.1.e1.png" />
</div>
<p>If we multiply across and simplify, we get the resulting fraction.</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/5.nbt_.1.f1.png" />
</div>
<p>The whole proces of what we did looks like this.</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/5.nbt_.1.g1.png" />
</div>
<p>
    We’re almost there, we just need to change the resulting fraction into something the computer can understand. Since
    the fraction line is another way of writing <strong>divide</strong>, we’re going to rewrite the resulting fraction
    as a division problem.
</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/5.nbt_.1.h1.png" />
</div>
<p>In our code, we want to write something similar, using the “/” to represent division.</p>
<pre><code>onetenth = number / 10</code></pre>
<p>
    Finally, we’ll use the <span class="purple">print</span> function to display our result for one-tenth of the number
    given.
</p>
<pre><code>print("One-tenth of " + str(number) + " equals " + str(onetenth))</code></pre>
<h3>Your Turn</h3>
<p>Find ten times and one-tenth of the number 203.</p>
<h3>Challenge</h3>
<em>
    If you wish to complete the challenge, be sure to turn sandbox mode on! Completing the challenge is not required.
</em>
<p>
    If writing <span class="purple">int</span> around <strong>number / 10</strong> on line 4, removes the decimal point,
    then write the code so that a decimal point is only shown when there is a non-zero number to the right of it. For
    example, <strong>one-tenth of 54</strong> is 5.4, showing the decimal point because a 4 is to the right of it, but
    one-tenth of 50 is 5, not showing the decimal point because a 0 would be to the right of it.
</p>
