<h1>Find the Area</h1>
<p>
    In this module, you’re going to learn how to find the area of a rectangle given the length and the width of the
    rectangle.
</p>
<p>
    <strong>Example #1:</strong> If the length of a rectangle is 12 and the width is 21, what is the area of the
    rectangle?
</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/4.md_.3.c1.png" />
</div>
<p>
    In this example, we'll write some code to help determine the area of hte rectangle based on the values provided.
</p>
<pre><code>length = int( input("What is the length of the rectangle?"))
width = int( input("What is the width of the rectangle?"))

area = length * width
print("The area is " + str(area) + ".")</code></pre>
<p>
    In lines 1 and 2, we’ll use the <span class="purple">input</span> function to have the user enter the values for the
    length and the width.
</p>
<pre><code>length = int( input("What is the length of the rectangle?"))
width = int( input("What is the width of the rectangle?"))</code></pre>
<p>
    Once we know the length and the width of the rectangle, we can easily find the area of the rectangle.
</p>
<p>
    First, let’s understand how the length and the width can help us find the area. In the model below, we see the same
    rectangle as above, but sectioned off.
</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/4.md_.3.d1.png" />
</div>
<p>
    The only problem is, if we want to figure out the area of this, we’ll have to count all the little squares and add
    them. Another way to look at this rectangle full of little squares is by grouping the squares together into 100s
    (blue), 10s (orange), and 1s (green).
</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/4.md_.3.e1.png" />
</div>
<p>
    In this case, we have two 100s, five 10s, and two 1s, or a total of 252, but how can we get the computer to figure
    out the area? For this, we need to think about the rectangle a little differently. When we’re told the length of the
    rectangle is 12, that means it can be divided into 12 rows.
</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/4.md_.3.g1.png" />
</div>
<p>When we’re told the width of the rectangle is 21, that means it can be divided into 21 columns.</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/4.md_.3.h1.png" />
</div>
<p>So, let’s see what 1 row of 21 looks like.</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/4.md_.3.i1.png" />
</div>
<p>That’s equal to 21 squares, not nearly enough to fill the rectangle. Let’s look at 2 rows of 21.</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/4.md_.3.j1.png" />
</div>
<p>If we keep going, we’ll end up with 12 rows of 21.</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/4.md_.3.k1.png" />
</div>
<p>
    In Mathematics, we can translate 12 rows of 21 to <strong>12 x 21</strong>, or in this case,
    <strong>length x width</strong> which happens to equal the area of the rectangle.
</p>
<pre><code>area = length * width</code></pre>
<p>Now, we just need to use the <span class="purple">print</span> function to display the solution.</p>
<pre><code>print("The area is " + str(area) + ".")</code></pre>
<h3>Your Turn</h3>
<p>Find the area for the following rectangle:</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/4.md_.3.l1.png" />
</div>
