<h1>Find Volume of Rectangular Prisms</h1>
<p>
    In this module, you’re going to learn how to find the volume of rectangular prisms by unit cubes and
    by multiplying the edge lengths.
</p>
<p>
    <strong>Example #1:</strong> Find the volume of the following rectangular prism, assuming it is
    built with centimeter unit cubes.
</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/5.md_.5.a1.png" />
</div>
<p>
    In this example, we’ll write some code to find the volume of this rectangular prism and see if your
    estimate is close to the actual volume.
</p>
<pre><code>estimate = int( input("How many unit cubes do you think there are?"))
length = int( input("What is the length?"))
width = int( input("What is the width?"))
height = int( input("What is the height?"))

volume = length * width * height

print("The volume is " + str(volume) + " cm\u00b3.")

if estimate == volume:
  print("You were correct!")</code></pre>
<p>
    First, in line 1, we’re going to ask the user to estimate how many unit cubes they think there are
    in the rectangular prism shown.
</p>
<pre><code>estimate = int( input("How many unit cubes do you think there are?"))</code></pre>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/5.md_.5.c1.png" />
</div>
<p>
    In the next lines, we want the user to count the number of unit cubes and enter the values for the
    length, width, and height.
</p>
<pre><code>length = int( input("What is the length?"))
width = int( input("What is the width?"))
height = int( input("What is the height?"))</code></pre>
<p>
    Now, we can use these three values to find the volume of the rectangular prism by multiplying all
    three values together.
</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/5.md_.5.d1.png" />
</div>
<p>We can type this directly into our code.</p>
<pre><code>volume = length * width * height</code></pre>
<p>
    On the next line, we’ll use the <span class="purple">print</span> function to display the number
    of unit cubes that the user estimated made up the entire rectangular prism.
</p>
<pre><code>print("The volume is " + str(volume) + " cm\u00b3.")</code></pre>
<p>
    Important! ㎤ in Python needs to be typed as <span class="purple">cm\u00b3</span>
    <div class=""></div>
</p>
<p>So, the code should actually look like this.</p>
<pre>
    <code>{`print("The volume is " + str(volume) + " cm\u00b3.")`}</code>
</pre>
<p>
    Next, we’ll let the user know the number of unit cubes they estimated that made up the volume of the
    rectangular prism.
</p>
<pre><code>print("You estimated there were " + str(estimate) + " unit cubes.")</code></pre>
<p>
    In the next lines, we created an <strong>if-clause</strong>, or{" "}
    <strong>conditional statement</strong>, to praise the user if they estimated correctly.
</p>
<pre><code>estimate == volume:
print("You were correct!")</code></pre>
<h3>Your Turn</h3>
<p>Find the volume for the following rectangular prism.</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/5.md_.5.e1.png" />
</div>