<h1>Exterior Angles</h1>
<img src="https://images-masterbirdy.s3-us-west-1.amazonaws.com/angles.png"></img>
<p>Here is how to find the exterior angle of a polygon:</p>
<ol>
    <li>Count the number of sides of a polygon.</li>
    <li>Divide 360 by the number of sides.</li>
    <li>The resulting answer is the exterior angle of a polygon.</li>
</ol>
<table>
    <tr>
        <th>Polygon</th>
        <th>Number of Sides</th>
        <th>Exterior Angle</th>
    </tr>
    <tr>
        <td>Square</td>
        <td>4</td>
        <td>90</td>
    </tr>
    <tr>
        <td>Pentagon</td>
        <td>?</td>
        <td>?</td>
    </tr>
    <tr>
        <td>Hexagon</td>
        <td>?</td>
        <td>?</td>
    </tr>
    <tr>
        <td>Octagon</td>
        <td>?</td>
        <td>?</td>
    </tr>
</table>
<p>
    Try to figure out what the number of sides are for each polygon and their exterior angles. We have
    shown you on the right how to make a square. Try to change it and see if you can make the other
    polygons listed above!
</p>