<h1>Some tips</h1>
<p>We can change the way our turtle looks with the following command.</p>
<pre><code>t.shape("turtle")</code></pre>
<p>
    Try some other shapes, like <strong>arrow</strong>, <strong>circle</strong>, <strong>square</strong> ,
    <strong>triangle</strong>, or simply <strong>classic</strong>!
</p>
<p>You can also change how fast your turtle draws a shape with the following:</p>
<pre><code>t.speed(0)</code></pre>
<p>Try some different speeds! You can change it from 1 (slow) to 10 (fast), or 0 for super fast.</p>
<p>To get your turtle to move forward, simply type in the following:</p>
<pre><code>t.forward(50)</code></pre>
<p>
    You can either use forward() or fd() to move your turtle forward. Change the number value to see how far your turtle
    goes.
</p>
<p>Finally, you can also rotate your turtle using this command.</p>
<pre><code>t.left(90)</code></pre>
<p>The number inside determines how many degrees your turtle will rotate.</p>
