<h1>Welcome to Turtle Graphics</h1>
                <p>
                    We can create cool images and graphics in Python using something called Turtle, a Python module that
                    lets you draw shapes and lines.
                </p>
                <p>
                    A turtle is like a cursor that moves around your screen, leaving a line behind it. Turtles can draw
                    all kinds of shapes and pictures! You just need to give them the right commands.
                </p>
                <img src={raceTurtle}></img>
                <p> Let's start by first importing the Turtle library into Python so we could use it.</p>
                <pre>
                    <code>{`from turtle import Turtle`}</code>
                </pre>
                <p>By typing this, now you're able to use the Turtle Library! Now let's give our turtle a name.</p>
                <pre>
                    <code>{`from turtle import Turtle
t = Turtle()`}</code>
                </pre>
                <p>
                    Excellent! We have given our turtle a name, or what we like to call <strong>a variable</strong>.
                    Variables can either be letters, such as t, or words.
                </p>
                <p> There are some rules for variables in Python that we must follow.</p>
                <ul>
                    <li>Words must start with lower case letters (no numbers or capital letters).</li>
                    <li>
                        No spaces are allowed for variables. You can either use underscores (e.g., green_turtle) or use
                        something called camel case to capitalize the second word (e.g., greenTurtle).{" "}
                    </li>
                </ul> 