<h1>Multi-Step Problems #3</h1>
<p>
    Here is another problem practicing what we learned!
</p>
<pre><code>total = int( input("How much is the purchase in total? "))
bills = int( input("What bill are you trying to pay with?"))

number = total // bills
print("You used " + str(number) + " $" + str(bills) + " bills.")</code></pre>
<h3>Your Turn</h3>
<p>
    If the total for a purchase was $136 and you paid with as many $5 bills as possible, how many did you pay with?
</p>
