<h1>Multi-Step Problems</h1>
<p>
    In this module, you’re going to learn how to solve multi-step problems using variables and different
    operations.
</p>
<p>
    <strong>Example #1:</strong> John’s family went to the movie theater. His dad bought tickets for 3
    adults and 4 kids. How much did John’s dad spend in total?
</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/3.oa_.8a.a1.png"></img>
</div>
<pre><code>adult = int( input("How many adult tickets were bought?"))
adultCost = int( input("How much is each adult ticket?"))
adultTotal = adult * adultCost

child = int( input("How many child tickets were bought?"))
childCost = int( input("How much is each child ticket?"))
childTotal = child * childCost

total = adultTotal + childTotal
print("It costs $" + str(total))</code></pre>
<p>
    In lines 1 – 4, we’re using <span class="purple">input</span> to ask the user to list all the
    values, or numbers, present in the problem. Sometimes the values aren’t easy to find. In the example
    problem above, we know that John’s dad bought 3 adults tickets and 4 child tickets. Those values are
    easy to find, but how much does each ticket cost? It doesn’t say in the problem. Instead, we have to
    look at the picture to figure that out.
</p>
<pre><code>adult = int( input("How many adult tickets were bought?"))
adultCost = int( input("How much is each adult ticket?"))`}</code></pre>
<p>
    Notice that to the left on <span class="purple">input</span>, we include{" "}
    <span class="purple">int</span>. By including <span class="purple">int</span> there, we can
    make sure that any number that is entered by the user is actually read as a number to the computer.
    Sometimes we just have to make sure the computer knows what it’s reading.
</p>
<p>
    After finding out all the values listed in the example problem, we need to figure out what to do
    with all of them. To do this, we need to know what our final goal is. The problem asks “How much did
    John’s dad spend in total?”
</p>
<p>Before we look at the total, let’s look at how much John’s dad spent on the adult tickets.</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/3.oa_.8a.b1.png"></img>
</div>
<p>
    If John’s dad bought 3 adult tickets at $15 for each adult ticket, he spent a total of $45. We found
    this out by multiplying the number of adult tickets by the cost of each adult ticket. If{" "}
    <span class="purple">adult </span>
    equals the number of adult tickets and <span class="purple">adultCost </span>equals the cost of
    each adult ticket, then all we have to do is multiply these two together.
</p>
<pre><code>adultTotal = adult * adultCost"))</code></pre>
<p>We can do the same for the child tickets that John’s dad bought.</p>
<pre><code>child = int( input("How many child tickets were bought?"))
childCost = int( input("How much is each child ticket?"))
childTotal = child * childCost"))</code></pre>
<p>
    To find the total cost, we need to add the two values together, the cost of the adult tickets that
    John’s dad bought and the cost of the child tickets that John’s dad bought
</p>
<pre><code>total = adultTotal + childTotal</code></pre>
<p>Then, we want to return the result by using the print function.</p>
<pre><code>{`print("It costs $" + str(total))`}</code></pre>
<h3>Your Turn</h3>
<p>
    Jill’s family went to the same movie theater with her aunt and uncle. Her uncle paid for Jill’s
    whole family. He bought 5 adult tickets and 7 child tickets. How much did he spend in total?
</p>