<h1>Multi-Step Problems #2</h1>
<p>
    Example #2: If the total for a purchase was $53 and you paid with as many $5 bills as possible, how
    many did you pay with?
</p>
<p>
    In this example, we’ll write some code to determine how many $5 bills will be used to pay for the
    $53 purchase.
</p>
<pre><code>total = int( input("How much is the purchase in total? "))
bills = int( input("What bill are you trying to pay with?"))

number = total // bills
print("You used " + str(number) + " $" + str(bills) + " bills.")</code></pre>
<p>
    In line 1, we’re using <span class="purple">input</span> to ask the user how much was the total
    of the purchase. In line 2, we’re using <span class="purple">input</span> to ask the user which
    bills they used to pay for the purchase. Both inputs have 
    <span class="purple">int</span> before to make sure the computer understands that the value the
    user enters is actually a number.
</p>
<pre><code>total = int( input("How much is the purchase in total? "))
bills = int( input("What bill are you trying to pay with?"))</code></pre>
<p>
    Now, if we want to figure out how many $5 bills are used to pay $53, we could group the $5 bills
    into groups of two, equaling $10, and count up to $53, or as close to $53 as possible.
</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/3.oa_.8b.a11.png"></img>
</div>
<p>If we count all the $5 bills we have, there are ten in total, which equals $50.</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/3.oa_.8b.a21.png"></img>
</div>
<p>So, we know that ten $5 bills is equal to $50.</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/3.oa_.8b.a31.png" />
</div>
<p>
    But we can’t possibly have the computer do all this to find the solution. There has to be a better
    way, right? Of course, there is! We know that we’re looking for a solution of ten $5 bills. Instead
    of multiplying 10 by $5 to get $50, what could do with $50 and $5 to get 10? Divide!
</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/3.oa_.8b.a4.png" />
</div>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/3.oa_.8b.a5.png" />
</div>
<p>
    To do this using code, we want to divide the <strong>total</strong> amount spent on the purchase, or
    $53, by the type of <strong>bills</strong> used, or $5 bills.
</p>
<pre><code>number = total // bills</code></pre>
<p>
    When we type two slashes “//”, we’re telling the computer to forget about the remainder and just
    tell us how many $5 bills can make up $53.
</p>
<p>
    Finally, we need the code to actually show you the answer. For this, we use the 
    <span class="purple">print</span> function.
</p>
<pre><code>{print("You used " + str(number) + " $" + str(bills) + " bills.")</code></pre>
<h3>Your Turn</h3>
<p>
    If the total for a purchase was $96 and you paid with as many $10 bills as possible, how many did
    you pay with?
</p>