<h1>More Rounding Practice</h1>
<p>
    Here is another problem practicing what we learned!
</p>
<p></p>
<pre><code>number = int(input("Enter a two-digit number:"))
    lower = (number // 10) * 10
    upper = lower + 10
    middle = lower + 5
    
    if number &lt; middle:
    print (lower)
    if number &gt; middle:
    print(upper)
    if number == middle:
    print(upper)</code></pre>
<h3>Your Turn</h3>
<p>Round the number <b>89/b> to its 10s.</p>
