<h1>Renaming 10s and Rounding</h1>
<p>
    In this module, you’re going to learn how to rename two-digit numbers according to the 10s place by
    deciding whether you need to round up or down.
</p>
<pre><code>number = int(input("Enter a two-digit number:"))
lower = (number // 10) * 10
upper = lower + 10
middle = lower + 5

if number &lt; middle:
print (lower)
if number &gt; middle:
print(upper)
if number == middle:
print(upper)</code></pre>
<p>
    In line 1, we’re using <span class="purple">input</span> to ask the user to give us a two-digit
    number. A two-digit number is any number from 10 to 99. Whatever amount the user responds with,
    we’ll assign it the variable, <strong>number</strong>.
</p>
<pre><code>number = input("Enter a two-digit number:")</code></pre>
<p>
    In Line 2, we start working with the number given by the user. If the user types in 53 as the
    number, we need to first find the lower 10s. It’s not easy with Python, so we need to use some of
    our mathematical thinking to find this number.
</p>
<p>
    Usually we use a single “/” to stand for divide, but if we divide 53 by 10, we would get 5.3, and we
    don’t want any decimals. When we divide using two “//”, we cut off the decimal. So, 53 divided by 10
    would equal 5, not 5.3. So, why do we multiply (<strong>number // 10</strong>) by 10? Once we divide
    53 by 10 and get 5 as our answer, when we multiply by 10, we find out that 50 is the next lowest 10s
    to 53.
</p>
<pre><code>lower = (number // 10) * 10</code></pre>
<p>Since we found the lower 10s was 50, all we need to do is add 10 to 50 to find the upper 10s.</p>
<pre><code>upper = lower + 10</code></pre>
<p>
    If we go back to the code, then, we need to tell the computer what the middle number is. For us, the
    middle number is equal to 5 above, or 5 more than, the lower 10s.
</p>
<pre><code>middle = lower + 5</code></pre>
<p>
    Now for the tricky part! How do we find out if the number given by the user is closer to the Upper
    10s or the Lower 10s?
</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/math/3-nbt-3-a1.png"></img>
</div>
<p>
    If we had a number like 52 and placed it on the number line, we’d see that it is closer to 50, the
    lower 10s. What else do you notice?
</p>
<p>
    52 is also <strong>less than</strong> 55, or the <strong>middle number</strong>.
</p>
<p>
    If a number is less than the middle number, we round <strong>down</strong> to 50, the lower 10s! The
    code below does this as well.
</p>
<pre><code>if number &lt; middle:
print (lower)</code></pre>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/math/3-nbt-3-b1.png"></img>
</div>
<p>
    If we had a number like 57 and placed it on the number line, we’d see that it is closer to 60, the
    upper 10s. What else do you notice?
</p>
<p>
    57 is also <strong>greater than</strong> 55, or the <strong>middle number</strong>.
</p>
<p>
    If a number is greater than the middle number, we round <strong>up</strong> to 60! The code below
    does this as well.
</p>
<pre><code>if number > middle:
print(upper)</code></pre>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/math/3-nbt-3-c1.png"></img>
</div>
<p>
    If we had a number like 55 and placed it on the number line, we’d see that it is in the middle. In
    fact, it is the <strong>middle</strong>.
</p>
<p>
    Since it is too hard for us to tell whether it’s closer to 50, the lower 10s, or 60, the upper 10s,
    Mathematicians have decided that 55 is closer to 60, the upper 10s.
</p>
<p>
    So, if a number is in the middle of two 10s, we round <strong>up</strong> to the upper 10s!
</p>
<p>
    The code below let’s us show this. What’s different about this code is that there isn’t a &gt; or a
    &lt;. Instead, there are two equal signs ==. In Python, we use one equal sign when we want to assign
    names, like when we named our turtle in Turtle Quest #1. When we use two equal signs, we mean the
    same thing as 5 + 2 = 7. We’re not naming anything, we’re just saying that one side of the equal
    sign is the same value as the other side.
</p>
<p>
    Now, we have the complete code for figuring out whether we round <strong>up</strong> or round 
    <strong>down</strong> and what 10s we need to round to.
</p>
<h3>Your Turn</h3>
<p>
    Round the number <b>13</b> to the 10s.
</p>