<h1>Rounding Decimals</h1>
<p>
    In this module, you’re going to learn how to round a decimal to the nearest hundredth place value.
</p>
<p><strong>Example #1:</strong> Round the decimal 5.867 to the nearest hundredth place.</p>
<p>In this example, we’ll write some code to round the decimal given to the nearest hundredth place.</p>
<pre><code>number = input("What's the number that you want to round?")

newNumber = float(number) * 100

nearestLow = (newNumber // 10) * 10
nearestHigh = newLower + 10
nearestMiddle = newLower + 5

if newNumber &gt;= nearestMiddle:
  newNumber = nearestHigh / 100
if newNumber &lt; nearestMiddle:
  newNumber = nearestLow / 100

print(newNumber)</code></pre>
<p>In line 1, we’re going to ask the user to give us a number to round.</p>
<p>
    We’re rounding the number given to the nearest hundredth place. Before writing anymore code, we need to make sure we
    know what we’re talking about.
</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/5.nbt_.4.a1.png" />
</div>
<p>
    One way to do this in coding is to move the decimal two places to the right and look at the number as if it were
    586.7, instead of 5.867. To do this, we need to multiply 5.867 by a number. We don’t even have to guess what number
    to multiply it by though. It’s in the name of the place value of 6. We need to multiply 5.867 by 100.
</p>
<pre><code>newNumber = float(number) * 100</code></pre>
<p>Once we multiply the number by 100, we need to find the nearest low, middle, and high number.</p>
<p>
    If we divide the new number 586.7 by 10 using two slash marks “//” and then multiply by 10, we’ll get 580 as our
    nearest low.
</p>
<pre><code>nearestLow = (newNumber // 10) * 10</code></pre>
<p>If we want to find our nearest high, we just need to add 10 to the nearest low number.</p>
<pre><code>nearestHigh = newLower + 10</code></pre>
<p>
    Last, if we want to find the number between the nearest low and the nearest high, we just need to add 5 to the
    nearest low.
</p>
<pre><code>nearestMiddle = newLower + 5</code></pre>
<p>
    Now we can evaluate whether to round up to the nearest high number or down to the nearest low number based on the
    value of the of the number given.
</p>
<p>
    If the number given is greater than or equal to the nearest middle, we want to round the number up the nearest high
    number.
</p>
<pre><code>if newNumber &gt;= nearestMiddle:
  newNumber = nearestHigh</code>
</pre>
<p>
    But since we started all of this by multiplying the original number by 100, we need to divide the final number by
    100.
</p>
<pre><code>if newNumber &gt;= nearestMiddle:
  newNumber = nearestHigh / 100`</code></pre>
<p>
    On the other hand, if the number given is less than the nearest middle, we want to round the number down to the
    nearest low number.
</p>
<pre><code>if newNumber &lt; nearestMiddle:
  newNumber = nearestLow</code></pre>
<p>
    But since we started all of this by multiplying the original number by 100, we need to divide the final number by
    100.
</p>
<pre><code>if newNumber &lt; nearestMiddle:
newNumber = nearestLow / 10</code></pre>
<p>
    Now, that we have our final number, we’ll use the <span class="purple">print</span> function to display the result.
</p>
<pre><code>print(newNumber)</code></pre>
<h3>Your Turn</h3>
<p>Round the following numbers to the nearest hundredth.</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/roundDecimal1.png" />
</div>
<h3>Challenge</h3>
<em>
    If you wish to complete the challenge, be sure to turn sandbox mode on! Completing the challenge is not required.
</em>
<p>Write the code that would round a number to the nearest tenths.</p>
