<h1>Skip Counting</h1>
<p>
    In this module, you’re going to learn how to multiply by skip counting. You’ll have several
    different problems to solve using the coding features that we tell you.
</p>
<div className="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/math/cow.png"></img>
</div>
<p>
    <strong>Example #1:</strong> Farmer John isn’t sure how many cows he has. When he asked his daughter
    to count the cows, she counted 132 legs. How many cows does Farmer John have?
</p>
<p>
    In this example, we can use Skip Counting and have our code do the counting for us! Let’s look at
    the code below:
</p>
<pre><code>cows = input("How many cows do you think there are?")

legs = 4

for i in range(int(cows)):
legs = legs + 4

print(str(cows) + " cows have " + str(legs) + " legs.")</code>
</pre>
<p>
    In line 1, we’re using “input” to ask the user how many cows they think there are. Whatever amount
    the user responds with, we’ll assign it the variable, <strong>cows</strong>.
</p>
<pre><code>cows = input("How many cows do you think there are?")</code></pre>
<p>What do we know about cows? We know they have 4 legs. So, let's write that in code.</p>
<pre><code>legs = 4</code></pre>
<p>
    Since we know that every cow has 4 legs, if we count each cow, we can skip count by 4. For example,
    look at the chart below.
</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/math/3.oa_.1a.png"></img>
</div>
<p>
    In coding, we’re going to use a <strong>for loop</strong> to help us <strong>skip count</strong> and <strong>repeatedly</strong> add 4 every time.
</p>
<p>
    Finally, we need the code to actually show you the answer. For this, we use the <strong>print</strong> function.
</p>
<pre><code>print(str(cows) + " cows have " + str(legs) + " legs.")</code></pre>
<p>
    Python prints <strong>strings</strong>, or lines of text or words. If you want Python to print a
    number, you need to change it to a string. To do this, we add <span className="purple">str()</span> to the number or variable.
</p>
<p>
    Since <strong>cows</strong> equals a number and <strong>legs</strong> equals a number, if we want
    print to work, we need to make them strings.
</p>
<p>Let’s say we wanted our code to show "5 cows have 20 legs". We would type the following code.</p>
<pre><code>print("5 cows have 20 legs")</code></pre>
<p>
    Do we know how many cows we have, though? No. So, we need to replace "5" with a <strong>variable</strong>, since we don’t know.
</p>
<pre><code>print(cows + " cows have 20 legs")</code></pre>
<p>
    Do we know how many legs we have, though? No. So, we need to replace "20" with a <strong>variable</strong>, since we don’t know.
</p>
<pre><code>print(cows + " cows have " + legs + " legs")</code></pre>
<p>
    Both the variables <strong>cows</strong> and <strong>legs</strong> equal numbers, we need to make
    sure they’re strings, by adding <span className="purple">str()</span> to both.
</p>
<pre><code>print(str(cows) + " cows have " + str(legs) + " legs.")</code></pre>
<h3>Your Turn</h3>
<div className="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/math/chicken.png"></img>
</div>
<p>
    Farmer Bill owns a chicken farm. He needs to know how many chickens he has and asks his son Billy to
    count all his chickens. Billy comes back from counting and tells his dad that he counted 164 legs.
    How many chickens does Farmer Bill have?
</p>
<div class="clickMe">
    <span class="superText">Need a hint?</span>
    <div class="hiddenText">
        It will be the same as the cows example. Except, we know that chickens have two legs. So, legs will equal 2 instead of 4. Also, don't forget to replace the word "cows" with "chickens"!
    </div>
</div>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText">
        <code>chickens = input("How many chickens do you think there are?")

legs = 2
            
for i in range(int(chickens)):
  legs = legs + 4
            
print(str(chickens) + " chickens have " + str(legs) + " legs.")</code>
    </div>
</div>