<h1>Solve Multi-Step Word Problems</h1>
<p>
    We will use what we learned to solve another problem!
</p>
<pre><code>monday = int( input("How many pizzas were sold on Monday?"))
more = int( input("How many more pizzas were sold on Tuesday?"))

tuesday = monday + more
total = monday + tuesday
print(str(total) + " pizzas were sold!")</code></pre>

<h3>Your Turn</h3>
<p>
    On Saturday, the store made $2130. On Sunday, the same store made $950 less than it did on Saturday. How much did
    the store make on Saturday and Sunday?
</p>
