                <h1>Coloring our Shapes</h1>
                <p>
                    Great job on completing your first shape! You're on your way to being able to design anything you'd
                    like in Turtle!
                </p>
                <p>
                    Alright, now it's time to dive a little bit more into color. We have been setting the color of our
                    Turtle with the following line of code.
                </p>
                <pre><code>t.color("red")</code></pre>
                <p>
                    However, there are actually two colors that we can set for our turtle. It is the <b>pen color</b>{" "}
                    and the <b>fill color</b>. The one are used to seeing is the <b>pen color</b>, which is the color of
                    the lines that we draw. When we type <span class="purple"> t.color("red")</span>, we are actually
                    setting both the pen color and the fill color. However, if we just wanted to set the pen color, we
                    would type the following line.
                </p>
                <pre><code>t.linecolor("blue")</code></pre>
                <p>And if we used this to make our square, it would come out something like this.</p>
                <div class="imgContainer">
                    <img
                        src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtlefill1.png"
                        alt="turtle pen"
                    ></img>
                </div>
                <p>
                    Ok, so we got our square. But, let's say we wanted to fill the inside with the color green. Well,
                    the <b>fill color</b> sets what color we want to color the inside of our shapes. We can do that with
                    the following line.
                </p>
                <pre><code>t.fillcolor("green")</code></pre>
                <div class="imgContainer">
                    <img
                        src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtlefill2.png"
                        alt="turtle pen"
                    ></img>
                </div>
                <p>
                    But wait, why isn't our square colored green? Well, we must tell our turtle exactly what part of the
                    shape we want to color green. Otherwise, it won't fill it with a color. To do this, we have to write{" "}
                    <span class="purple"> t.begin_fill()</span> and <span class="purple"> t.end_fill()</span> around the
                    shape we make so it knows what to color. So, for our square, it would look something like this.
                </p>
                <pre><code>t.begin_fill()
t.forward(50)
t.left(90)
t.forward(50)
t.left(90)
t.forward(50)
t.left(90)
t.forward(50)
t.end_fill()`}</code></pre>
                <p>And that should turn out to something like this!</p>
                <div class="imgContainer">
                    <img
                        src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtlefill3.png"
                        alt="turtle pen"
                    ></img>
                </div>
                <h3>Assignment</h3>
                <p>Create a 100 pixel by 100 pixel square with a blue outline and is colored orange on the inside.</p>
                <div class="clickMe">
                    <span class="superText">Need a hint?</span>
                    <div class="hiddenText">
                        Make sure to set the line color and the fill color <b>before</b> you start coloring the shape.
                        Also, make sure you put <span class="purple">t.begin_fill()</span> before you start drawing your
                        square and <span class="purple">t.end_fill()</span> when you're done.
                    </div>
                </div>
                <div class="clickMe">
                    <span class="superText">Answer</span>
                    <div class="hiddenText">
                        <code>from turtle import Turtle
t = Turtle()
t.shape("turtle")
t.pencolor("blue")
t.fillcolor("orange")
t.begin_fill()
t.forward(100)
t.left(90)
t.forward(100)
t.left(90)
t.forward(100)
t.left(90)
t.forward(100)
t.end_fill()</code>
                    </div>
                </div>