<h1>Using the Turtle Module</h1>
<p>Well done! Now we're ready to write our first Python program.</p>
<p>
    Now, to explore Python, the first thing we'll play with is the <b>Turtle module</b>! The <b>Turtle module</b> lets
    us draw cool shapes and designs using Python code. While Python comes with a bunch of cool features already,
    sometimes we'll need to add modules like Turtle to let us do more cool things. For example, if we don't add the
    Turtle module to Python, we can't draw shapes on the canvas.
</p>
<div class="clickMe">
    <span class="superText">What is a module? (click to find out!)</span>
    <div class="hiddenText">
        A module is a collection of files (such as Turtle) that we can add to Python. A module will let us do things
        that Python normally can't do on its own, like draw shapes.
    </div>
</div>
<p>
    To add the Python turtle module, we simply have to copy the following code into the text editor on the right. Make
    sure it looks exactly like the code below! Unfortunately, the computer can't read spelling mistakes. Also, be
    careful with spacing. After copying the code into the text editor, click <b>Run Code</b> and see what happens!
</p>
<pre>
from turtle import Turtle
t = Turtle() 
t.shape("turtle")</pre
>
<div class="clickMe">
    <span class="superText">Need a hint?</span>
    <div class="hiddenText">
        Copy and paste the code above into the blue text editor on the right and press the <b>Run Code</b> button.
    </div>
</div>
<p>
    How did it go? If everything went well, you should a turtle on the canvas and a button next to "Run Code" called
    "Submit Code" that lets you submit your code. Press that button in order to continue your journey!
</p>
<p>
    If the console opens and it is flashing red, that means that there was an error running your code. That's ok! This
    happens to programmers all the time. Make sure to check your spelling and see if your code looks exactly the same
    like the example above. If the console says
    <span class="purple"> <b>Error:</b> bad input </span>
    , that might mean there is a spelling error or an extra space where there shouldn't be one.
</p>
