<h1>Creating Turtle Colors</h1>
<p>
    Similar to shapes, you can also change the color of your turtle. There are a wide variety of colors that you can
    choose, which includes, but is not limited to:
</p>
<ul>
    <li>red, orange, and yellow</li>
    <li>green, blue, purple</li>
    <li>brown, black, grey, white</li>
    <li>pink, gold, cyan, skyblue</li>
    <li>turquoise, lightgreen, darkgreen</li>
    <li>maroon, magenta, chocolate</li>
</ul>
<p>All we have to do to change our turtle to one of the colors is write the following line of code:</p>
<pre>
    <code>t.color("pink")</code>
</pre>
<p>And that's it! Let's change our program a little so we have a gold turtle.</p>
<pre>
    <code>from turtle import Turtle
t = Turtle()
t.shape("turtle")
t.color("gold")</code>
</pre>
<p>Copy the code above, run and submit it, and volia! Now you can change your turtle's colors.</p>
