<h1>Turtle Speed</h1>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/car.png" alt="car"></img>
</div>
<p>
    We can control how fast our turtles draw a line on the screen. All we have to do is type the
    following line of code.
</p>
<pre><code>t.speed(5)</code></pre>
<p>
    We can set our speed from <span class="purple">1</span> (very slow) all the way to <span class="purple">9</span> (very fast!). However, there is something even faster than 9, and that
    is <span class="purple">0</span>! If we set our turtle's speed to 0, that means it'll go the fastest
    it can go.
</p>
<pre><code>t.speed(0)</code></pre>
<div className="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/speeds.png" />
</div>
<p>
    We can also change our speed while we're drawing. Let's say we want our turtle to draw something
    slow first, but then draw something fast afterwards.
</p>
<pre><code>t.speed(2)
t.forward(100)
t.speed(8) 
t.backwards(75)</code></pre>
<p>
    So our turtle will go forward slowly, but then he will go fast backwards! Remember, you must always
    set the speed before the turtle moves.
</p>
<h3>Assignment</h3>
<p>Draw a line that moves 100 steps forward and have our turtle moving at a speed of 2.</p>
<div class="clickMe">
    <span class="superText">Need a hint?</span>
    <div class="hiddenText"><code>from turtle import Turtle
t = Turtle() 
t.shape("turtle") 
t.speed(2) 
t.forward(100)</code></div>
</div>