<h1>Using For Loops with Turtle</h1>
<p>
    As we've seen in the last lesson, we can use for loops to repeat any lines of code that we want. This can be very
    helpful for us when we're making shapes using Turtle. Let's take a look at these lines of code that'll make a
    square.
</p>
<pre><code>from turtle import Turtle
t = Turtle()
t.shape("turtle")
t.forward(25)
t.left(90)
t.forward(25)
t.left(90)
t.forward(25)
t.left(90)
t.forward(25)</code></pre>
<p>
    There are two lines of code that repeat and that we can put into a for loop. Can you spot them? Check your answer
    with our answer and see if you got it correct!
</p>
<div class="clickMe">
    <span class="superText">Need a hint?</span>
    <div class="hiddenText">
        Look for the lines of code in which the turtle turns and moves forward.
    </div>
</div>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText">
        <code>t.left(90) t.forward(25)</code>
    </div>
</div>
<p>
    Did you get it right? Using for loops, we can greatly reduce the amount of code that we need to write to make a
    square. For loops are very handy and they will be very useful on your Python quest!
</p>
<div class="clickMe">
    <span class="superText">Square using for loops</span>
    <div class="hiddenText">
        <code
            >from turtle import Turtle t = Turtle() t.shape("turtle") t.forward(25) for i from range(0, 3) t.left(90)
            t.forward(25)</code
        >
    </div>
</div>
<h3>Assignment</h3>
<p>Create a square using a for loop that is 50 pixels by 50 pixels.</p>
<div class="clickMe">
    <span class="superText">Need a hint?</span>
    <div class="hiddenText">
        Make sure your for loop has the proper indentation. Create the for loop after your turtle goes forward once.
    </div>
</div>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText">
        <code
            >from turtle import Turtle t = Turtle() t.shape("turtle") t.forward(50) for i from range(0, 3) t.left(90)
            t.forward(50)</code
        >
    </div>
</div>
