<h1>Variables</h1>
<p>You may have noticed this line of code that we have been writing.</p>
<pre><code>t = Turtle()</code></pre>
<p>
    In this line, we have named our turtle the letter <b>t</b>. Why did we do this? If we didn't, we couldn't change our
    turtle's shape or color. The computer would have no idea what we were talking about!
</p>
<p>
    The letter <b>t</b> is simply a name to help remember something in Python. This is what we like to call a
    <b>variable</b>.
</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/thelettert.png" alt="" />
</div>
<p>
    It's good to think of variables like boxes. When we set <b>t</b> to equal <span class="purple">Turtle()</span>, that
    means we are putting a turtle in the box named <b>t</b>.
</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/box.png" alt="" />
</div>
<p>
    Of course, variables aren't only just for turtles. We can use variables for other things as well, like words and
    numbers!
</p>
<pre><code>t = 'Hello'</code></pre>
<p>Now, the letter <b>t</b> is no longer a turtle. Instead, it is the word <b>Hello</b>!</p>
<p>Variables don't have to be the letter <b>t</b>. They can also be words and numbers as well!</p>
<pre><code>myFavoriteCheese = 'Bleu Cheese'
price = 3.25
turtle = Turtle()</code>
</pre>
<p>
    Now we have 3 more variables: <b>myFavoriteCheese</b> which equals Bleu Cheese, <b>price</b> which equals 3.25, and
    <b>turtle</b> which equals a turtle!
</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/bleucheese.png" alt="" />
</div>
<h3>Assignment</h3>
Set a variable named <b>numberFive</b> to be equal to 5 and a variable named <b>name</b> to be equal to Bob.
<div class="clickMe">
    <span class="superText">Need a hint?</span>
    <div class="hiddenText">
        <code>numberFive = 5 name = "Bob"</code>
    </div>
</div>
