<h1>Turning Left and Right</h1>
<p>
    Our turtles can only move forwards and backwards towards the way they're facing. However, if we
    wanted them to move in another direction, we just have to tell them to turn left or right before
    they move! Let's say we wanted the turtle to go 50 pixels upwards. We just have to type the
    following lines of code.
</p>
<pre><code>t.left(90)
t.forward(50)</code></pre>
<p>
    Just like with setting turtle speeds, we must tell our turtle to turn left/right before it goes
    forward. The number that we put into either the left or right command are the
    <b>number of degrees</b> that the turtle will turn in that direction. So in the example above, the
    turtle turns 90 degrees to the left, than moves forward 50 pixels.
</p>
<p>Alright, let's practice what we learned with a couple of examples.</p>
<div class="quickie">
    <div class="imgContainer">
        <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtleturn1.png"></img>
    </div>
    <div class="inline">
        <div class="flex">
            <label>Make the turtle turn to the right 90 degrees, then move forward 30 pixels.</label>
            <textarea rows="3"></textarea>
        </div>
    </div>
</div>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText">
        <code>t.right(90)
t.forward(30)</code>
    </div>
</div>
<div class="quickie">
    <div class="imgContainer">
        <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtleturn2.png"></img>
    </div>
    <div class="inline">
        <div class="flex">
            <label>
                Make the turtle move forward 30 pixels, turn 90 degrees to the left, then move forward
                50 degrees.
            </label>
            <textarea rows="3"></textarea>
        </div>
    </div>
</div>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText">
        <code>t.forward(30)
t.left(90)
t.forward(50)</code>
    </div>
</div>
<div class="quickie">
    <div class="imgContainer">
        <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtleturn3.png"></img>
    </div>
    <div class="inline">
        <div class="flex">
            <label>Make the turtle turn to the left 180 degrees, then move backwards 40 pixels.</label>
            <textarea rows="3"></textarea>
        </div>
    </div>
</div>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText">
        <code>t.left(180)
t.backward(40)</code>
    </div>
</div>
<h3>Assignment</h3>
<p>
    Move your turtle forward 30 pixels, have it turn to the left by 75 degrees, then move it forward 40
    pixels.
</p>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText">
        <code>from turtle import Turtle
t = Turtle()
t.shape("turtle") 
t.forward(30) 
t.left(75)
t.forward(40)</code>
    </div>
</div>