<h1>More on For Loops</h1>
<p>
    Great job on creating your first for loop! For loops are a very important part of Python that will
    help us create cool designs and other things in the canvas.
</p>
<p>As a quick review, this is how we created a for loop that counted from 1 to 5.</p>
<pre><code>for i in range(1, 6):
  print(i)</code>
</pre>
<p>
    Let's practice this a few times. Type in your answers in the boxes and compare them to the answers
    below.
</p>
<div class="quickie">
    <div class="imgContainer">
        <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/ten.png"></img>
    </div>
    <div class="inline">
        <div class="flex">
            <label>Create a for loop that counts from 1 to 10 (including 10).</label>
            <textarea rows="3"></textarea>
        </div>
    </div>
</div>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText">
        <code>for i in range(1, 11):
  print(i)</code>
    </div>
</div>
<div class="quickie">
    <div class="imgContainer">
        <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/twenty.png"></img>
    </div>
    <div class="inline">
        <div class="flex">
            <label>Create a for loop that counts from 1 to 20 (including 20).</label>
            <textarea rows="3"></textarea>
        </div>
    </div>
</div>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText">
        <code>for i in range(1, 21):
  print(i)</code>
    </div>
</div>
<div class="quickie">
    <div class="imgContainer">
        <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/seven.png"></img>
    </div>
    <div class="inline">
        <div class="flex">
            <label>Create a for loop that counts from 3 to 7 (including 7).</label>
            <textarea rows="3"></textarea>
        </div>
    </div>
</div>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText">
        <code>for i in range(3, 7):
  print(i)</code>
    </div>
</div>
<h3>Assignment</h3>
<p>Create a for loop that counts from 2 to 8 (including 8).</p>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText">
        <code>for i in range(1, 6):
  print(i)</code>
    </div>
</div>