<h1>Pen Up and Pen Down</h1>
<p>
    It's time to learn about <span class="purple">pendown()</span> and 
    <span class="purple">penup()</span>. By default, the turtle pen is always down. When a pen is 
    <b>down</b>, that means the turtle will moves while he draws. We can confirm this by writing the
    following code.
    <pre><code>from turtle import Turtle
t = Turtle()
t.shape("turtle")
t.forward(100)
print(t.isdown())</code></pre>
</p>
<div class="imgContainer">
    <img
        src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtlependown1.png"
        alt="turtle drawing"
    />
</div>
<p>
    By typing in <span class="purple">print(t.isdown())</span>, the console will either reply with 
    <b>True</b> or <b>False</b> is the pen is down. We get the following response back in the console.
</p>
<pre><code>True</code></pre>
<p>Now, let's try seeing what would happen if we lifted the pen up before we starting drawing.</p>
<pre><code>from turtle import Turtle
t = Turtle()
t.shape("turtle")
t.penup()
t.forward(100)
print(t.isdown())</code></pre>
<div class="imgContainer">
    <img
        src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtlependown2.png"
        alt="turtle drawing"
    />
</div>
<p>
    As we can see, the turtle moves forward, but doesn't draw the line like it normally does! This is
    helpful for when we need to move the turtle somewhere, but we don't want to draw anything. Also, if
    we look at the console...
</p>
<pre><code>False</code></pre>
<p>
    Now, it replies <b>False</b> instead of <b>True</b>.
</p>
<h3>Assignment</h3>
<p>Have the turtle move 80 pixels forward, but lift the pen up before the turtle moves.</p>
<div class="clickMe">
    <span class="superText">Need a hint?</span>
    <div class="hiddenText">
        Make sure that you call <span class="purple">t.penup()</span> before you move the turtle.
    </div>
</div>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText">
        <code>from turtle import Turtle
t = Turtle()
t.shape("turtle")
t.penup()
t.forward(80)</code>
    </div>
</div>