<h1>Pen Up and Pen Down Exercises</h1>
<p>
    Suppose we didn't want to just make a straight black line. Maybe we wanted a dashed line, or a line
    with a different pattern instead. Would that be possible to do with our turtle? Yes it is! Now, we
    have learned all the tools we need to be able to do this. Suppose we wanted to create a dashed line
    that was 100 pixels long. We would type the following lines of code.
</p>
<pre><code>from turtle import Turtle
t = Turtle()
t.shape("turtle")
for i in range(1, 11):
t.forward(5)
t.penup()
t.forward(5)
t.pendown()</code></pre>
<p>
    Let's break down the code a little bit. The for loop that we created has a range from 1 to 11. 11
    minus 1 is 10, so that means we repeat the indented code <b>10 times</b>. Now let's take a closer
    look at the indented code.
</p>
<p>
    As we know, the turtle always starts with its pen down. So, <span class="purple">t.forward(5)</span> 
    means that the turtle will draw a line going forward that is 5 pixels long. Next, 
    <span class="purple">t.penup()</span> means that the turtle will lift its pen, so it will no longer
    draw anything. It will execute <span>t.forward(5)</span> again, but it will go 5 pixels forward
    without drawing a line. Finally, the turtle will use <span class="purple">t.pendown()</span> to put
    the pen down so it would start drawing again.
</p>
<div class="imgContainer">
    <img
        src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtledown3.png"
        alt="turtle down"
    ></img>
</div>
<p>
    Let's look at another example. Suppose we wanted the pixels to be more spaced out for our line. We
    could write something like this.
</p>
<pre><code>from turtle import Turtle
t = Turtle()
t.shape("turtle")
for i in range(1, 11):
t.forward(3)
t.penup()
t.forward(7)
t.pendown()</code></pre>
<div class="imgContainer">
    <img
        src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtledown4.png"
        alt="turtle down"
    ></img>
</div>
<p>
    Notice the difference? The <span class="purple">t.forward(3)</span> determines how many pixels long
    the dashes will be, and the <span class="purple">t.forward(7)</span> determines how many pixels long
    the white spaces will be.
</p>
<p>
    We can also control the size of the lines that we draw with our turtle with 
    <span color="purple">t.pensize()</span>. For instance, if we want to make the line 5 pixels wide, we
    would type the following before we drew the line.
</p>
<pre><code>t.pensize(5)</code></pre>
<p>And we would get the following.</p>
<img
    src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtledown5.png"
    alt="turtle thick line"
></img>
<h3>Assignment</h3>
<p>
    Create a 100 pixel long black line with 2 pixel long dashes and 8 pixel long spaces with a pen size
    of 3.
</p>