<h1>Introduction to Probability</h1>
<p>
    Many events can't be predicted with total certainty! The best we can say is how likely they are to happen, using the
    idea of probability.
</p>
<h3>Tossing a Coin</h3>
<div className="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/coin.png" alt="Coin" />
</div>
<p>When a coin is tossed, there are two possible outcomes.</p>
<ul>
    <li>Heads</li>
    <li>Tails</li>
</ul>
<p>We can say that the probability of the coin landing on <strong>heads</strong> is ½.</p>
<p>And the probability of the coin landing on <strong>tails</strong> is also ½!</p>
<p>
    The cool thing about Python is that we can use it to check to see if that's true. It's time for us to create a
    function that will do this for us. We'll need the <strong>random</strong> module this time instead of the
    <strong>turtle</strong> module.
</p>
<pre><code>import random

def flipACoin():
randomNumber = random.randint(1, 2)
if (randomNumber == 1):
print('heads')
else:
print('tails')</code></pre>
<p>Run the code, submit it, and you're done!</p>
