<h1>Using For Loops with Turtle</h1>
<p>
    As we've seen in the last lesson, we can use for loops to repeat any lines of code that we want. This can be very
    helpful for us when we're making shapes using Turtle. Let's look at how to make a square again.
</p>
<pre><code>from turtle import Turtle
t = Turtle() 
t.shape("turtle") 
t.forward(25) 
t.left(90) 
t.forward(25)
t.left(90) 
t.forward(25) 
t.left(90) 
t.forward(25)</code></pre>
<p>
    There are <b>two</b> lines of code that repeat and that we can put into a for loop. Can you spot them? Check your
    answer with our answer and see if you got it correct!
</p>
<div class="clickMe">
    <span class="superText">Need a hint?</span>
    <div class="hiddenText">
        Look for the lines of code in which the turtle turns and moves forward.
    </div>
</div>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText">
        <code>t.left(90)
t.forward(25)</code>
    </div>
</div>
<p>
    Did you get it right? The next question is: how many times will we need to repeat these two lines of code? Well,
    looking at the example, these two lines of code paired together appears 3 times. So, we would need to repeat this 3
    times!
</p>
<pre><code>for i in range(0, 3):
t.left(90)
t.forward(25)</code></pre>
<p>Remember, you <b>must</b> indent the code you want to repeat!</p>
<p>So, this means that our square created with a for loop will end up looking something like this.</p>
<pre><code>from turtle import Turtle
t = Turtle()
t.shape("turtle")
t.forward(25)
for i in range(0, 3):
  t.left(90)
  t.forward(25)</code></pre>
<h3>Assignment</h3>
<p>Create a square using a for loop that is 50 steps wide and long.</p>
<div class="clickMe">
    <span class="superText">Need a hint?</span>
    <div class="hiddenText">
        Make sure your for loop has the proper indentation. Create the for loop after your turtle goes forward once.
    </div>
</div>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText">
        <code>from turtle import Turtle
t = Turtle()
t.shape("turtle")
t.forward(50)
for i in range(0, 3):
  t.left(90)
  t.forward(50)</code>
    </div>
</div>
