<h1>Turning Left and Right</h1>
<p>
    Our turtles can only move forwards and backwards. However, we can also make them turn to the left or
    right as well!
</p>
<pre><code>t.left(90)
t.forward(50)</code></pre>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtlekidsleft1.png" alt="" />
</div>
<p>
    Now our turtle will turn 90 degrees to the left, and then move forward 50 steps! That means he will
    move up 50 steps, since he started out facing to the right.
</p>
<div class="clickMe">
    <span class="superText">What are degrees? (Click here for a definition)</span>
    <div class="hiddenText">
        Degrees are the unit of measurement used to measure angles. A right angle is 90˚, so we must use
        90˚ to turn all the way to the left or the right. Degrees can go all the way from 0˚ to 360˚.
    </div>
</div>
<p>Of course, we can also make our turtle turn to the right, so he would be moving down!</p>
<pre><code>t.right(90)
t.forward(50)</code></pre>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtlekidsright1.png" alt="" />
</div>
<p>
    We must always say <span class="purple">t.left(90)</span> or <span class="purple">t.right(90)</span>{" "}
    before moving if we want our turtle to turn left or right.
</p>
<p>Alright, let's practice what we learned with a couple of examples.</p>
<div class="quickie">
    <div class="imgContainer">
        <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtleturn1.png"></img>
    </div>
    <div class="inline">
        <div class="flex">
            <label>Make the turtle to the right, then move forward 30 steps.</label>
            <textarea rows="3"></textarea>
        </div>
    </div>
</div>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText"><code>t.right(90)
t.forward(30)</code></div>
</div>
<div class="quickie">
    <div class="imgContainer">
        <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtleturn2.png"></img>
    </div>
    <div class="inline">
        <div class="flex">
            <label>
                Make the turtle move forward 30 steps, turn to the left, then move forward 50 steps.
            </label>
            <textarea rows="3"></textarea>
        </div>
    </div>
</div>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText"><code>t.forward(30)
t.left(90)
t.forward(50)</code></div>
</div>
<div class="quickie">
    <div class="imgContainer">
        <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtleturn3.png"></img>
    </div>
    <div class="inline">
        <div class="flex">
            <label>
                Make the turtle <b>all the way around</b> to the left 180 degrees, then move backwards
                40 steps.
            </label>
            <textarea rows="3"></textarea>
        </div>
    </div>
</div>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText"><code>t.left(180)
t.backward(40)</code></div>
</div>
<h3>Assignment</h3>
<p>
    Move your turtle forward 30 steps, have it turn to the left by 90 degrees, then move it forward 40
    steps.
</p>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText"><code>from turtle import Turtle
t = Turtle() 
t.shape("turtle") 
t.forward(30) 
t.left(90)
t.forward(40)</code></div>
</div>