<h1>Creating Turtle Colors 2.0</h1>
<p>
    Ok, now it's time to explore color a little bit more. Every color you see on your computer or your
    phone is created using the <b>RGB color model</b>. That means it was creating using some combination
    of the colors <span class="red">red</span>, <span class="green">green</span>, and
    <span class="blue">blue</span>. The amount of red, green, or blue you can add to a color goes from 0 (the lowest) to 255 (the highest).
</p>
<div class="imgContainer">
    <img
        src="https://movingmindz.s3-us-west-1.amazonaws.com/images/colorrgb.png"
        alt="color wheel"
    ></img>
</div>
<p>
    Every color has a unique <b>hexidecimal code</b> that tells how much red, green, and blue the
    computer should add to the color. Hexidecimal codes are 6 characters long and each character can
    only be either <b>0-9</b> or <b>A-F</b>. Let's start with the 3 <b>primary colors</b> for the RGB
    color model, which are <span class="red">red</span>, <span class="green">green</span>, and <span class="blue">blue</span>.
</p>
<div class="clickMe">
    <span class="superText">What is the RGB Color model? (Click to find out!)</span>
    <div class="hiddenText">
        The RGB Color Model is what television screens and computer monitors use to make any color
        appear on their screen. While you may be more familiar with red, yellow, and blue as primary
        colors in painting, computers and other electronic devices use red, green, and blue as primary
        colors.
    </div>
</div>
<div class="quickie">
    <div class="redBox"></div>
    <div class="inline">
        <div class="flex">
            <p>
                <span class="red">Red</span>
            </p>
            <span class="little">red: 255, green: 0, blue: 0</span>
            <p>
                Hex Code: <b>#FF0000</b>
            </p>
        </div>
    </div>
</div>
<div class="quickie">
    <div class="greenBox"></div>
    <div class="inline">
        <div class="flex">
            <p>
                <span class="green">Green</span>
            </p>
            <span class="little">red: 0, green: 255, blue: 0</span>
            <p>
                Hex Code: <b>#00FF00</b>
            </p>
        </div>
    </div>
</div>
<div class="quickie">
    <div class="blueBox"></div>
    <div class="inline">
        <div class="flex">
            <p>
                <span class="blue">Blue</span>
            </p>
            <span class="little">red: 0, green: 0, blue: 255</span>
            <p>
                Hex Code: <b>#0000FF</b>
            </p>
        </div>
    </div>
</div>
<p>So if we wanted to make our turtle green, now we could also type something like this.</p>
<pre><code>t.color("#00FF00")</code></pre>
<p>
    However, maybe that green is a little too bright for our eyes. The brightness of the green can be
    increased or decreased depending on how much green we add to it.
</p>
<div class="quickie">
    <div class="green1Box"></div>
    <div class="inline">
        <div class="flex">
            <p>
                <span class="green1">Darker Green</span>
            </p>
            <span class="little">red: 0, green: 100, blue: 0</span>
            <p>
                Hex Code: <b>#006400</b>
            </p>
        </div>
    </div>
</div>
<div class="quickie">
    <div class="green2Box"></div>
    <div class="inline">
        <div class="flex">
            <p>
                <span class="green2">Medium Green</span>
            </p>
            <span class="little">red: 0, green: 150, blue: 0</span>
            <p>
                Hex Code: <b>#009600</b>
            </p>
        </div>
    </div>
</div>
<div class="quickie">
    <div class="green3Box"></div>
    <div class="inline">
        <div class="flex">
            <p>
                <span class="green3">Lighter Green</span>
            </p>
            <span class="little">red: 0, green: 200, blue: 0</span>
            <p>
                Hex Code: <b>#00C800</b>
            </p>
        </div>
    </div>
</div>
<p>
    Of course, there are also <b>secondary colors</b> as well! <b>Secondary colors</b> are created by
    mixing two of the primary colors together. These are <span class="cyan">cyan</span>, <span class="pink">pink</span>, and <span class="yellow">yellow</span>!
</p>
<div class="quickie">
    <div class="cyanBox"></div>
    <div class="inline">
        <div class="flex">
            <p>
                <span class="cyan">Cyan</span>
            </p>
            <span class="little">red: 0, green: 255, blue: 255</span>
            <p>
                Hex Code: <b>#00FFFF</b>
            </p>
        </div>
    </div>
</div>
<div class="quickie">
    <div class="pinkBox"></div>
    <div class="inline">
        <div class="flex">
            <p>
                <span class="pink">Pink</span>
            </p>
            <span class="little">red: 255, green: 0, blue: 255</span>
            <p>
                Hex Code: <b>#FF00FF</b>
            </p>
        </div>
    </div>
</div>
<div class="quickie">
    <div class="yellowBox"></div>
    <div class="inline">
        <div class="flex">
            <p>
                <span class="yellow">Yellow</span>
            </p>
            <span class="little">red: 255, green: 255, blue: 0</span>
            <p>
                Hex Code: <b>#FFFF00</b>
            </p>
        </div>
    </div>
</div>
<h3>Assignment</h3>
<p>
    Create a turtle that moves 100 pixels forward with both its pen color and fill color set to the
    hexidecimal code (<span class="pink">#FF00FF</span>) for <span class="pink">pink</span>.
</p>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText">
        <code>from turtle import Turtle
t = Turtle()
t.shape("turtle") 
t.forward(100) 
t.color("#FF00FF")</code>
    </div>
</div>