<h1>Turtle Quest #2</h1>
<p>
    Congratulations on finishing your first quest! Now, you are ready to move on to the next quest and
    draw on the canvas using our turtle.
</p>
<div className="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/trophy.png" alt="" />
</div>
<h3>Moving forwards</h3>
<p>
    Moving our turtle is pretty simple. After adding the turtle library and naming the turtle with the
    variable <b>t</b>, all we have to do is call this method.
</p>
<pre><code>t.forward(30)</code></pre>
<p>
    The turtle will then move 30 steps forward. Since it is facing the right, it moves 30 steps <b>to the right</b>.
</p>
<p>We can also type it like this!</p>
<pre><code>t.fd(30)</code></pre>
<p>How many steps will it move forward if we typed this?</p>
<pre><code>t.forward(55)</code></pre>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText">
        <code>The answer is 55!</code>
    </div>
</div>
<p>
    Ok, let's practice this with a couple of examples. Just type the command in the lines below and
    compare your answers to see if you got them right.
</p>
<div class="quickie">
    <div class="imgContainer">
        <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtle50.png"></img>
    </div>
    <div class="inline">
        <div class="flex">
            <label>Make the turtle move 50 steps forward.</label>
            <input type="text"></input>
        </div>
    </div>
</div>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText">
        <code>t.forward(50)</code>
    </div>
</div>
<div class="quickie">
    <div class="imgContainer">
        <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtle25.png"></img>
    </div>
    <div class="inline">
        <div class="flex">
            <label>Make the turtle move 25 steps forward.</label>
            <input type="text"></input>
        </div>
    </div>
</div>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText">
        <code>t.forward(25)</code>
    </div>
</div>
<div class="quickie">
    <div class="imgContainer">
        <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtle80.png"></img>
    </div>
    <div class="inline">
        <div class="flex">
            <label>Make the turtle move 80 steps forward.</label>
            <input type="text"></input>
        </div>
    </div>
</div>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText">
        <code>t.forward(80)</code>
    </div>
</div>
<h2>Assignment</h2>
<p>Create a turtle and have it move 65 steps forward!</p>
<div class="clickMe">
    <span class="superText">Need a hint?</span>
    <div class="hiddenText">
        <code>from turtle import Turtle
t = Turtle() 
t.shape("turtle") 
t.forward(65)</code>
    </div>
</div>