<h1>Variables 1.0</h1>
<p>
    Alright, we're almost at the end! The last thing that we should talk about before moving on to the next quest are
    <b>variables</b>. Variables are names that we give to pieces of data. For example, you'll notice in our code we have
    always been writing the following line:
</p>
<pre><code>t = Turtle()</code></pre>
<p>
    This is how we declare a variable in our code. We assign the variable name, <b>t</b>, to the turtle using an equals
    (=) sign. Then, only after we write this, we can write lines like this:
</p>
<pre><code>t.shape("turtle")
t.color("blue")</code>
</pre>
<p>
    Of course, variables do not have to be turtles! They can also be integers, decimals (what we call <b>floats</b>), or words (what we call <b></b>).
</p>
<pre><code>a = 100
b = 3.14
c = 'cheese'</code></pre>
<div class="clickMe">
    <span class="superText">What is a variable? (click to find out)</span>
    <div class="hiddenText">
        A <b>variable</b> is a name for some data (like a turtle, a number, or a string) that holds information about itself (like its shape
        and color).
    </div>
</div>
<p>
    Variables can also be set to different values. Variables are meant to be flexible and can change to different values when necessary. In fact, variables can even be set to other values!
</p>
<pre><code>a = 20
b = 30
a = b</code></pre>
<p>What do you think the value of a is?</p>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText">
        <code>a = 30</code>
    </div>
</div>
<p>Great! You can test this out if you'd like by writing <span class="purple">print('a')</span>. Let's try it one more time with another problem. How about this one?</p>
<pre><code>a = "apple"
b = "bagel"
c = "cookie"
a = c
b = a</code></pre>
    <p>What do you think the value of b is?</p>
    <div class="clickMe">
        <span class="superText">Answer</span>
        <div class="hiddenText">
            <code>b = "cookie</code>
        </div>
    </div>
<p>
    Great job! If it helps, you can think of a variable kind of like a box. You can open the box to find out what is inside and we could change
    things in the box if we'd like. For our turtle variable, <b>t</b>, it holds information about the turtle's shape and color (which is blue). If we wanted our turtle to change from red to blue, all we'd have to do is write the
    following line, and our turtle would change color!
</p>
<pre><code>t.shape("turtle")
t.color("blue")
t.color("red")</code>
</pre>
<p>
    We chose a very short variable name for our turtle, <b>t</b>, simply because it's easy to remember and fast to type.
    However, variable names should also be descriptive and help you remember what purpose they do. We could've also
    named it something like turtleMarker or turtle_drawer simply because it is a turtle that draws on our canvas. Just
    keep in mind, when you name a variable, you can only use alphanumeric letters (a-z, 0-9) and the underscore symbol (
    _ ). No spaces are allowed.
</p>
    <p>
        You can click the <b>Sandbox</b> button to play around with variable name if you'd like. However, for the most
        part, we'll be using <b>t</b> as a variable name for our turtle in order to easily verify your code and to get
        experience points.
    </p>
    <p>For the last part of the lesson, all you need to do is write the following program:</p>
    <pre><code>from turtle import Turtle
bobTheTurtle = Turtle() 
bobTheTurtle.shape("turtle")</code>
    </pre>
    <p>Run and submit that, and then you're done!</p>
</div>
