<h1>Turtle Speed</h1>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/car.png" alt="car"></img>
</div>
<p>
    We can control how fast our turtles draw a line on the screen. All we have to input is the following
    line of code.
</p>
<pre><code>t.speed(5)</code></pre>
<p>
    We can input a number from 0 to 10 in the speed command. The setting ranges from 1 being very slow
    to 9 being very fast. However, if we wanted to make the turtle go the fastest it could possibly go,
    we'd actually have to type in 0, like this.
</p>
<pre><code>t.speed(0)</code></pre>
<p>
    One thing to keep in mind is that our turtle can change his speed while drawing. For instance, let's
    say we wanted our turtle to go forward 100 pixels quickly, but then we wanted him to go backwards 75
    pixels slowly. We would write something like this.
</p>
<pre><code>t.speed(7)
t.forward(100)
t.speed(1)
t.backwards(75)</code></pre>
<p>
    The key thing to remember is if we want to change the speed of our turtle, we must do so before he
    moves. Thus, <span class="purple">t.speed(7)</span> has to go before{" "}
    <span class="purple">t.forward(100)</span> in this case.
</p>
<h3>Assignment</h3>
<p>Draw a line that moves 100 pixels forward and have our turtle moving at a speed of 2.</p>
<div class="clickMe">
    <span class="superText">Need a hint?</span>
    <div class="hiddenText">
        <code>from turtle import Turtle
t = Turtle()
t.shape("turtle")
t.speed(2)
t.forward(100)</code>
    </div>
</div>