<h1>Turtle Quest #3</h1>
<p>
    Wow! You already conquered two turtle quests! You are definitely getting good at this. Well done! For this exercise,
    we'll be exploring some activities that involve the console, so you may want to turn off the <b>Canvas</b> button so
    the console doesn't close automatically.
</p>
<p>
    Alright, let's introduce a new command. Remember when we said that we could get the console to communicate with us?
    We can tell it exactly what we want it to say with a simple command.
</p>
<pre><code>print('Hello World!')</code></pre>
<p>And we would get this response back in the console.</p>
<pre><code>Hello World!</code></pre>
<p>Great! We're gonna use the print command to introduce a new concept.</p>
<h3>For loops</h3>
<p>
    Suppose we wanted to make a Python program which counted to to the number 5. Well, one way to do this would be to
    write <span class="purple">print()</span> for each number, so that means we would have to write
    <span class="purple">print()</span> 5 times. That might look something like this.
</p>
<pre><code>print('1')
print('2')
print('3')
print('4')
print('5')</code></pre>
<p>We would get the correct response.</p>
<pre><code>1
2
3
4
5</code></pre>
<p>
    ... However, imagine if we wanted to create a Python program that counted to 10 or 100. We would have to write
    <span class="purple">print()</span> so many times! Wouldn't it be nice if there was an easier way to do this?
    Fortunately, for loops make it a lot easier to write something like this out.
</p>
<pre><code>for i in range(1, 6):
  print(i)</code></pre>
<p>
    So, let's break this down a little bit. Notice that the <span class="purple">print(i)</span> is indented. Whatever
    is indented under the for loop, we're going to repeat a certain number of times. How many times? Well, take a look
    at the two numbers in the <span class="purple">range()</span> command. The first number, <b>1</b>, is where we start
    at. The second number, <b>6</b>, is where we stop at. So, including 1, there are 5 numbers between 1 and 6. Thus,
    Python will run the <span class="purple">print(i)</span> command 5 times.
</p>
<div class="clickMe">
    <span class="superText">Tip for writing for loops</span>
    <div class="hiddenText">
        It is important that any code you want to repeat in the for loop is indented with at least one space! Otherwise,
        Python will not recognize that you want to repeat these commands and it will throw an error.
    </div>
</div>
<p>
    Now, you may be wondering, what exactly is <b>i</b> in <span class="purple">print(i)</span>? Remember, in Turtle
    Quest #1, we talked about variables and how they can be set and changed whenever we want. Every time we repeat the
    <span class="purple">print(i)</span> command in the for loop, <b>i</b> is increased by one! So, if we changed it up
    a little with this code.
</p>
<pre><code>for i in range(3, 7):
  print(i)</code></pre>
<p>We would get the following response!</p>
<pre><code>3
4
5
6</code></pre>
<h3>Assignment</h3>
<p>Create a for loop that prints a number starting from 1 to 10 (including 10).</p>
<div class="clickMe">
    <span class="superText">Need a hint?</span>
    <div class="hiddenText">
        Make sure that your <span class="purple">print(i)</span> command is indented with at least one space. Your range
        should be from 1 to 11.
    </div>
</div>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText">
        <code>for i in range(1, 11): print(i)</code>
    </div>
</div>
