<h1>Turtle Quest #1</h1>
<p>
    Welcome to your first quest, adventurer! Today, we'll be exploring the world of Python, one of the most popular
    programming langauges used all over the world! By learning about Python, you'll be able to level up your character
    and get badges.
</p>
<p>
    Maybe you are wondering what exactly is a <b>programming language</b>? Basically, we use programming languages like
    Python to write a set of instructions (or, what we call code) that tells the computer to do something. For example,
    let's say that you wanted to bake a cake. Most of you would probably find a cake recipe to follow one step at a
    time. Well, that's exactly what a computer does when it reads code written in Python! It reads each line in order
    and then it follows the instruction, just like if you were baking a cake.
</p>
<p>
    Unfortunately, computers can't naturally read English, so we must use a language that a computer can understand like
    Python.
</p>
<div class="clickMe">
    <span class="superText">What is a programming language? (click to find out!)</span>
    <div class="hiddenText">
        A programming language is a language that tells computers what to do in order to work.
    </div>
</div>
<p>
    Before we go further, it's a good idea to explain some of the tools we're using. The big blue square on the right is
    called the <b>text editor</b>. The <b>text editor</b> where we will write our code so the computer can read it.
    Below that, there is the <b>console</b>. The <b>console</b> is how the computer will be able to communicate with us.
    It can tell us if there are errors in our code. Or, we can tell it exactly what we want it to say. We'll explain
    more about this later.
</p>
<p>
    Finally, there is the <b>canvas</b>. The <b>canvas</b> is what the computer will use to draw the pictures that we
    create using a module called Turtle. We'll get to this very soon...
</p>
<p>
    Let's try it out. See the button on the very bottom? Press that to run the code we wrote, which right now, is
    nothing. That's fine, though. If there are no errors, the canvas will open up and a button named
    <b>Submit Code</b> will appear next to <b>Run Code</b>. Click the <b>Submit Code</b> button to submit the code to
    the server.
</p>
<p>
    If there is an error in the code, the console will flash and open up with a message. Programmers make errors all the
    time and they're a natural part of writing code. However, there should be no errors since there should be no code in
    the text editor.
</p>
<p>
    If everything goes well, there should be a green checkmark next to <b>Run Code</b> which means you can continue your
    journey!
</p>
<div class="clickMe">
    <span class="superText">Need a hint?</span>
    <div class="hiddenText">
        Click the <b>Run Code</b> button, and then click the <b>Submit Code</b> button. If you see a green checkmark,
        that means you're good to go!
    </div>
</div>
