<h1>Moving Backwards</h1>
<p>
    Just like how our turtle can move forward, it can also move backwards! Moving backwards is also very
    simple and can be done with the following line of code.
</p>
<pre><code>{`t.backward(50)`}</code></pre>
<p>
    Let's practice this with a couple of examples. Type your answer below and compare them with the
    listed answers.
</p>
<div class="quickie">
    <div class="imgContainer">
        <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtleb55.png"></img>
    </div>
    <div class="inline">
        <div class="flex">
            <label>Make the turtle move 55 pixels backwards.</label>
            <input type="text"></input>
        </div>
    </div>
</div>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText">
        <code>t.backward(55)</code>
    </div>
</div>
<div class="quickie">
    <div class="imgContainer">
        <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtleb30.png"></img>
    </div>
    <div class="inline">
        <div class="flex">
            <label>Make the turtle move 30 pixels backwards.</label>
            <input type="text"></input>
        </div>
    </div>
</div>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText">
        <code>t.backward(30)</code>
    </div>
</div>
<div class="quickie">
    <div class="imgContainer">
        <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtleb90.png"></img>
    </div>
    <div class="inline">
        <div class="flex">
            <label>Make the turtle move 90 pixels backwards.</label>
            <input type="text"></input>
        </div>
    </div>
</div>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText">
        <code>t.backward(90)</code>
    </div>
</div>
<p>
    One thing we haven't tried yet is chaining multiple commands together. For instance, we can tell the
    turtle to move 100 pixels forward, then 50 pixels back. We can do so with the following two lines of
    code.
</p>
<pre><code>{`t.forward(100)
t.backward(50)`}</code></pre>
<h3>Assignment</h3>
<p>For your assignment, make a turtle go forward 80 pixels, then go backwards 15 pixels.</p>
<div class="clickMe">
    <span class="superText">Need a hint?</span>
    <div class="hiddenText">
        <code>from turtle import Turtle
t = Turtle()
t.shape("turtle")
t.forward(80)
t.backward(15)</code>
    </div>
</div>