<h1>Turtle Quest #1</h1>
<p>
    Welcome to your first quest, adventurer! Today, we'll be exploring the world of Python, one of the
    most popular langauges for computers!
</p>
<p>
    What is Python? Python is a language, kind of like how you and I speak a language such as English,
    Spanish, etc. If we want to tell a computer to do something, we must do it using a language like
    Python, since computers are not very good at English.
</p>
<div class="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/computernumbers.png"></img>
</div>
<div class="clickMe">
    <span class="superText">Click here for definition of a computer!</span>
    <div class="hiddenText">A electronic device used to store information and work with data.</div>
</div>
<p>
    Before we go on, you'll need some tools for your journey. They can be found right next to this box.
    The first tool is the <strong>text editor</strong>. You will write all your Python code in here.
</p>
<div class="clickMe">
    <span class="superText">Click here for definition of code!</span>
    <div class="hiddenText">A set of instructions that tells a computer what to do.</div>
</div>
<div class="wideImgContainer">
    <img src="https://images-masterbirdy.s3-us-west-1.amazonaws.com/texteditor.png"></img>
</div>
<p>
    The next tool is the <strong>console</strong>. It will sometimes send you a message if prompted and
    it also tell you when something goes wrong. Sometimes, people will make mistakes when typing code
    and that's ok!
</p>
<div class="wideImgContainer">
    <img src="https://images-masterbirdy.s3-us-west-1.amazonaws.com/console.png"></img>
</div>
<p>
    The last tool is the <strong>canvas</strong>. We can use the canvas to draw images onto the screen
    using the <strong>Turtle</strong> module. We'll talk more about this in the future!
</p>
<div className="wideImgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/canvas.png" alt="" />
</div>
<p>
    Finally, the toolbar on the bottom will let you run and submit your code so you can earn badges and
    experience points! First thing to do is to press the <strong>Run Code</strong> button on the bottom.
    Then, when it's finished running, a <strong>Submit Code</strong> button will appear if everything
    went well!
</p>
<div className="imgContainer">
    <img src="https://images-masterbirdy.s3-us-west-1.amazonaws.com/submitcodebutton.png" alt="" />
</div>
<p>
    Click the <strong>Submit Code</strong> button, and either two things will happen. A{" "}
    <span color="green">green</span> checkmark will appear and say you're good to go, or a message may
    appear on the console telling you that something happened.
</p>
<div className="imgContainer">
    <img src="https://images-masterbirdy.s3-us-west-1.amazonaws.com/runcodebutton.png" alt="" />
</div>
<h3>Assignment</h3>
<p>
    Click the <b>Run Code</b> button, and then click the <b>Submit Code</b> button! Make sure that
    there's nothing in the text editor.
</p>