<h1>Making a Square</h1>
<p>
    Finally, it's time to start making some shapes with Turtle! The first thing we'll be doing is making
    a square.
</p>
<div class="imgContainer">
    <img
        src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtlesquare.png"
        alt="turtle square"
    ></img>
</div>
<p>
    So, let's say we wanted to make a square that is 50 steps long and wide. That means it'll have 4
    sides. Let's start by making one of the sides! We can do that by typing this piece of code.
</p>
<pre><code>t.forward(50)</code></pre>
<p>That line will create the following image below.</p>
<div class="imgContainer">
    <img
        src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtleUnfinishedSquare1.png"
        alt="turtle square line"
    ></img>
</div>
<p>
    Now, we need to move on to the next side. To do this, we need to make our turtle turn left and have
    it move forward.
</p>
<pre><code>t.left(90)
t.forward(50)</code></pre>
<p>And now it should end up looking something like this.</p>
<div class="imgContainer">
    <img
        src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtleUnfinishedSquare2.png"
        alt="turtle square line"
    ></img>
</div>
<p>Great! Let's do it again!</p>
<pre><code>t.left(90)
t.forward(50)</code></pre>
<p>And now it should end up looking something like this.</p>
<div class="imgContainer">
    <img
        src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtleUnfinishedSquare3.png"
        alt="turtle square line"
    ></img>
</div>
<p>Awesome! Add it one more time and that should finish your square!</p>
<pre><code>t.left(90)
t.forward(50)</code></pre>
<div class="imgContainer">
    <img
        src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtlesquare.png"
        alt="turtle square"
    ></img>
</div>
<p>All of the code put together will look something like this.</p>
<pre><code>from turtle import Turtle
t = Turtle()
t.shape("turtle")
t.forward(50)
t.left(90)
t.forward(50)
t.left(90)
t.forward(50)
t.left(90)
t.forward(50)</code></pre>
<p>
    It's a large piece of code that we have to write just to make a square. But don't worry, we'll be
    learning shorter ways to make a square soon!
</p>
<h3>Assignment</h3>
Now, it's your turn. Create your own square that is 60 steps long and wide. Good luck!
<div class="clickMe">
    <span class="superText">Need a hint?</span>
    <div class="hiddenText">
        Your solution should have 4 forward commands, <span class="purple">t.forward(60)</span>, and 3
        left turn commands, <span class="purple">t.left(90)</span>. Don't forget to import the Turtle
        module and set the variable <b>t</b> to a turtle!
    </div>
</div>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText">
        <code>from turtle import Turtle
t = Turtle() 
t.shape("turtle") 
t.forward(60) 
t.left(90)
t.forward(60)
t.left(90)
t.forward(60) 
t.left(90)
t.forward(60)</code>
    </div>
</div>