<h1>Using Turtle Modules</h1>
<p>
    Well done! Let's talk about modules, since we'll need them to use the <b>Turtle</b> module. We'll
    soon start to draw lots of cool things on the canvas!
</p>
<div class="imgContainer">
    <img src="https://images-masterbirdy.s3-us-west-1.amazonaws.com/library.png"></img>
</div>
<div class="clickMe">
    <span class="superText">Click here for definition of a library!</span>
    <div class="hiddenText">A place where books are kept and they may be rented.</div>
</div>
<p>
    The first thing that we need to do is add the Turtle module. What is a module? Well, to give an
    example, imagine that you wanted to write a report about ladybugs. So, what you might do is go to
    the library and rent a book about ladybugs. Then, you could read about ladybugs and write a great
    report about them!
</p>
<div className="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/ladybug.png"></img>
</div>
<div className="clickMe">
    <span class="superText">Click here for definition of a ladybug!</span>
    <div class="hiddenText">A small, round bug that is red or orange with black spots.</div>
</div>
<p>
    Well, that's exactly what Python is doing! Module are basically like rented books from the library.
    While Python doesn't know how to draw shapes at first, it rents a book (the <b>Turtle</b> module)
    from the library so it can learn how to draw shapes for you.
</p>
<p>
    To use the <b>Turtle</b> module, we are going to write a few lines of code into our blue text
    editor. This may look a little weird to you right now, but just copy and paste this into the text
    editor.
</p>
<pre>
    <code>{`from turtle import Turtle
t = Turtle() 
t.shape("turtle")`}</code>
</pre>
<p>
    How did that go? You should see a turtle on your screen! When writing code, make sure that there are
    no spelling errors and extra spaces! Make sure you copy the code exactly as it is.
</p>
<h3>Assignment</h3>
<p>Copy the code shown above and put it in the blue text editor, and then run it and submit it!</p>