<h1>Making a Square</h1>
<p>
    Finally, it's time to start making some shapes with Turtle! The first thing we'll be doing is making
    a square.
</p>
<div class="imgContainer">
    <img
        src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtlesquare.png"
        alt="turtle square"
    ></img>
</div>
<p>
    So, let's say we wanted to make a square that is 50 steps long and wide. That means it'll have 4 sides. So, let's start by making one of the sides!
</p>
<pre><code>t.forward(50)</code></pre>
<p>That will create the picture down below.</p>
<div class="imgContainer">
    <img
        src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtleUnfinishedSquare1.png"
        alt="turtle square line"
    ></img>
</div>
<p>Now, we need to move on to the next side. We can do so by adding the following code.</p>
<pre><code>t.left(90)
t.forward(50)</code></pre>
<p>And now it should end up looking something like this.</p>
<div class="imgContainer">
    <img
        src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtleUnfinishedSquare2.png"
        alt="turtle square line"
    ></img>
</div>
Now, we need to do is repeat the lines of code above us 2 more times and that should finish your square!
<div class="imgContainer">
    <img
        src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtlesquare.png"
        alt="turtle square"
    ></img>
</div>
<h3>Assignment</h3>
Now, it's your turn. Create your own 60 pixel by 60 pixel square just like in the example above. Good
luck!
<div class="clickMe">
    <span class="superText">Need a hint?</span>
    <div class="hiddenText">
        Your solution should have 4 forward commands, <span class="purple">t.forward(60)</span>, and 3
        left turn commands, <span class="purple">t.left(90)</span>. Don't forget to import the Turtle
        library and name your turtle with the variable <b>t</b>!
    </div>
</div>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText">
        <code>from turtle import Turtle
t = Turtle()
t.shape("turtle")
t.forward(60)
t.left(90)
t.forward(60)
t.left(90)
t.forward(60)
t.left(90)
t.forward(60)</code>
    </div>
</div>