<h1>Exploring Turtle Shapes</h1>
<p>Congratulations! You wrote your first Python program! You should feel proud of yourself!</p>
<p>
    Alright, now for some fun stuff. Let's change the shape of our turtle. You may have noticed that we did it with the
    following line of code:
</p>
<pre>
    <code>t.shape("turtle")</code>
</pre>
<p>
    However, there are other shapes we can include as well! These are the following shapes allowed in Turtle:
</p>
<ul>
    <li>arrow</li>
    <li>circle</li>
    <li>square</li>
    <li>triangle</li>
    <li>classic</li>
</ul>
<p>So, we can change the program that we wrote before like this:</p>
<pre>
    <code>from turtle import Turtle
t = Turtle() 
t.shape("square")</code>
</pre>
<p>
    And now, we will see a square pop up on the canvas instead of a turtle. Try all the shapes listed above and see what
    happens!
</p>
<div class="clickMe">
    <span class="superText">Need a hint?</span>
    <div class="hiddenText">
        Copy the code above and submit using the <b>Run Code</b> and <b>Submit Code buttons</b>. Make sure it looks
        exactly the same as the example above!
    </div>
</div>
