<h1>Coloring our Shapes</h1>
<p>
    Great job on completing your first shape! You're on your way to being able to design anything you'd
    like in Turtle!
</p>
<p>
    Alright, now it's time to dive a little bit more into color. We have been setting the color of our
    Turtle with the following line of code.
</p>
<pre><code>t.color("red")</code></pre>
<p>
    However, there are actually two colors that we can set for our turtle. they are the <b>pen color</b>{" "}
    and the <b>fill color</b>. The one are used to seeing is the <b>pen color</b>. That is the color of
    the lines that we draw. But, what if we wanted to color the inside of our square?
</p>
<p>
    Let's say we want a green square with a blue outline. First, let's set the outline to blue, which is
    set by <span class="purple">t.pencolor()</span>.
</p>
<pre><code>t.pencolor("blue")</code></pre>
<div class="imgContainer">
    <img
        src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtlefill1.png"
        alt="turtle pen"
    ></img>
</div>
<p>Now, let's fill our square with the color green?</p>
<pre><code>t.fillcolor("green")</code></pre>
<div class="imgContainer">
    <img
        src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtlefill2.png"
        alt="turtle pen"
    ></img>
</div>
<p>
    But wait, that didn't work. Why isn't our square colored green? Well, we must tell our turtle
    exactly what part of the shape we want to color green. Otherwise, it won't fill it with a color.
</p>
<p>
    To do this, we have to write <span class="purple"> t.begin_fill()</span> and{" "}
    <span class="purple"> t.end_fill()</span> while we're making our square, so it knows what part to
    color in.
</p>
<pre><code>from turtle import Turtle
t = Turtle()
t.shape("turtle")
t.pencolor("blue")
t.fillcolor("green")
t.begin_fill()
t.forward(50)
t.left(90)
t.forward(50)
t.left(90)
t.forward(50)
t.left(90)
t.forward(50) 
t.end_fill()</code></pre>
<p>And that should turn out to something like this!</p>
<div class="imgContainer">
    <img
        src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtlefill3.png"
        alt="turtle pen"
    ></img>
</div>
<h3>Assignment</h3>
<p>Create a square that is 100 steps long and wide with a blue outline and is colored orange.</p>
<div class="clickMe">
    <span class="superText">Need a hint?</span>
    <div class="hiddenText">
        Make sure to set the line color and the fill color <b>before</b> you start coloring the shape.
        Also, make sure you put <span class="purple">t.begin_fill()</span> before you start drawing your
        square and <span class="purple">t.end_fill()</span> when you're done.
    </div>
</div>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText">
        <code>from turtle import Turtle
t = Turtle() 
t.shape("turtle") 
t.pencolor("blue")
t.fillcolor("orange") 
t.begin_fill() 
t.forward(100) 
t.left(90) 
t.forward(100) 
t.left(90)
t.forward(100)
t.left(90)
t.forward(100)
t.end_fill()</code>
    </div>
</div>