<h1>Turtle Quest #3</h1>
<p>
    Wow! You already conquered two turtle quests! You are definitely getting good at this. Well done!
    For this exercise, we'll be exploring some activities that involve the console, so make sure the 
    <b>Canvas</b> button is turned off.
</p>
<p>
    We can use the console to say what we want it to say! Suppose we wanted it to say "Hello!". We would
    use this command.
</p>
<pre><code>print('Hello!')</code></pre>
<p>And we would get this response back in the console.</p>
<pre><code>Hello!</code></pre>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/hellospeechbubble.png" alt="" />
</div>
<p>
    Now, say we wanted to create a program to count to five. Well, one way we could do it is like this.
</p>
<pre><code>{`print(1)
print(2)
print(3)
print(4)
print(5)</code></pre>
<p>And we would get the following response.</p>
<pre><code>1
2
3
4
5</code></pre>
<p>
    ... However, this seems like a very slow way to get this done. What if we want a program that could
    count to 10? Or 20? Or even 100?
</p>
<p>
    Fortunately, there is! We will use a <b>for loop</b> to repeat a line of code over and over again.
    We can have it repeat as many times as we want. Let's take a look at an example of one.
</p>
<pre><code>for i in range(1, 6):
print(i)</code></pre>
<p>
    Alright, there's a lot to look at this code here. So, we always start off a for loop with the word{" "}
    <b>for</b>. That's how the computer knows we're dealing with a for loop.
</p>
<p>
    The next thing you'll notice is the letter <b>i</b>. <b>i</b> is a variable, just like how we've
    been using the letter <b>t</b> as a variable for our turtle. Every time we repeat a command,{" "}
    <b>i</b> will increase by one.
</p>
<p>
    You're probably wondering what will <b>i</b> start as? Well, we specified that in <span class="purple">range(1, 6)</span>. The first number, <b>1</b>, is where it will start. The
    last number, <b>6</b>, is where it will end.
</p>
<p>
    So, let's run through this. <b>i</b> starts off as 1, so it will print the number 1.
</p>
<pre><code>1</code></pre>
<p>
    Next, it will add 1 to i and then run the print command again. Since we added 1 to i, it equals 2!
</p>
<pre><code>2</code></pre>
<p>
    It will keep doing this until it reaches <b>6</b>. This is the rest of the output from the console.
</p>
<pre><code>3
4
5</code></pre>
<p>
    But where is 6? As you can 6, it does <b>not</b> run <span class="purple">print(6)</span>. That is
    because when it gets to 6, it stops and does not run the print command.
</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/printer.png"></img>
</div>
<p>Wow, that was a lot of reading! Good job on making it through!</p>
<h3>Assignment</h3>
<p>Create a for loop that counts from 1 to 5.</p>
<div class="clickMe">
    <span class="superText">Answer</span>
    <div class="hiddenText">
        <code>for i in range(1, 6):
            print(i)</code>
    </div>
</div>