<h1>Exploring Turtle Shapes</h1>
<p>Congratulations! You wrote your first Python program! You should feel proud of yourself!</p>
<p>
    Alright, now for some fun stuff. Let's change the shape of our turtle. You may have noticed that we
    did it with the following line of code:
</p>
<pre><code>t.shape("turtle")</code></pre>

<p>
    However, there are other shapes we can include as well! These are the following shapes allowed in
    Turtle:
</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/turtleimage.png"></img>
</div>
<p>
    However, we can make many shapes in Python! Let's see if we wanted to make a square in Python. This
    is the whole program we would type.
</p>
<pre><code>from turtle import Turtle 
t = Turtle()
t.shape("square")</code></pre>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/squareimage.png"></img>
</div>
<p>And volia! There are other shapes we could make too.</p>
<p>
    <span class="purple">Arrow</span>
</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/arrowimage.png"></img>
</div>
<pre>
    <code>t.shape("arrow")</code>
</pre>
<p>
    <span class="purple">Circle</span>
</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/circleimage.png"></img>
</div>
<pre>
    <code>t.shape("circle")</code>
</pre>
<p>
    <span class="purple">Triangle</span>
</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/triangleimage.png"></img>
</div>
<pre>
    <code>t.shape("triangle")</code>
</pre>
<p>
    <span class="purple">Classic</span>
</p>
<div class="imgContainer">
    <img src="https://movingmindz.s3-us-west-1.amazonaws.com/images/classicimage.png"></img>
</div>
<pre>
    <code>t.shape("classic")</code>
</pre>
<p>Try all the shapes listed above and see what happens!</p>
<h3>Assignment</h3>
<p>Make a circle in the canvas instead of a turtle.</p>
<div class="clickMe">
    <span class="superText">Need a hint?</span>
    <div class="hiddenText">
        Copy the code below and submit using the <b>Run Code</b> and <b>Submit Code</b> buttons.
        <code>
from turtle import Turtle 
t = Turtle()
t.shape("circle")
</code>
        Make sure it looks exactly the same as the example above!
    </div>
</div>