.auto-suggestions {
    position: absolute;
    width: 100%;
    top: 100%;

    &.disabled {
        opacity: 0;
        pointer-events: none;
    }

    .auto-suggestion {
        padding: 1rem;
        background-color: white;
        font-family: "PT Sans", sans-serif;
        font-size: 1.2rem;
        border: 1px solid #cfcfcf;
        border-width: 1px 1px 0px 1px;
        transition: all 0.05s linear;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
            background-color: orange;
        }

        &:last-child {
            border-bottom-width: 1px;
        }
    }
}
