.avatar-chooser {
    @media (max-width: 768px) {
        margin-top: 1.5rem;
    }

    .avatar-chooser-title-container {
        @include profileInfoComponent;
        .avatar-chooser-title {
            @include profileInfoComponentTitle;
        }
    }

    .avatar-chooser-container {
        padding: 0.75rem 1.5rem 1rem;
        background-color: rgb(247, 247, 247);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0px 4px 10px -7px rgb(170, 170, 170);

        .avatar-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 0.25rem;
            grid-row-gap: 0.25rem;

            @media (max-width: 768px) {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }

            @media (max-width: 600px) {
                grid-template-columns: 1fr 1fr 1fr;
            }
            @media (max-width: 450px) {
                grid-template-columns: 1fr 1fr;
            }

            img {
                max-width: 125px;
                width: 100%;
                filter: brightness(75%);
                cursor: pointer;
                opacity: 0.35;
                transform: none;
                transition: filter 0.3s ease-in-out, opacity 0.5s ease-in-out,
                    transform 0.5s cubic-bezier(0.89, 2.5, 0.8, 1);
                &:hover {
                    filter: brightness(1);
                    opacity: 0.7;
                    transform: scale(1.1);
                }
            }

            img.selected {
                filter: brightness(1);
                opacity: 0.9;
            }
        }
    }

    .avatar-preview {
        margin-top: 1.5rem;
        @media (max-width: 450px) {
            display: none;
        }
        .avatar-preview-title-container {
            @include profileInfoComponent;
            .avatar-preview-title {
                @include profileInfoComponentTitle;
            }
        }

        .avatar-preview-container {
            display: flex;
            justify-content: center;
            background-color: rgb(247, 247, 247);
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            box-shadow: 0px 4px 10px -7px rgb(170, 170, 170);
            height: 300px;
            .image {
                max-height: 300px;
            }
        }
    }
}
