.navbar-button {
    position: relative;
    font-family: "PT Sans Narrow", sans-serif;
    height: 100%;
    padding: 0 2.33rem;
    font-size: 2rem;
    font-weight: 400;
    border: 0;
    color: white;
    background-color: rgb(165, 165, 165);
    cursor: pointer;
    outline: none;
    z-index: 100;
    p {
        display: inline-block;
        z-index: 100;
        transition: all 0.15s ease-out;
    }
    &:hover {
        p {
            transform: scale(1.1);
        }
    }
    &:active {
        span {
            transform: translateY(-2px);
        }
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        transition: all 1s ease;
        z-index: -1;
    }

    .link-list {
        position: absolute;
        font-family: "PT Sans", sans-serif;
        font-size: 1.45rem;

        padding-right: 0.75rem;
        width: 100%;
        list-style: none;
        top: 100%;
        text-align: right;
        right: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        opacity: 0;
        pointer-events: none;
        transition: all 0.2s ease-out;
        &.visible {
            opacity: 1;
            pointer-events: auto;
        }

        li {
            margin: 1.125rem 0;

            &:hover {
                p {
                    font-weight: 600;
                }
            }
            a {
                display: inline-block;
                color: white;
                text-decoration: none;
            }
        }
    }

    &.navbar-orange {
        @include navbarButton(#fa9715);
    }
    &.navbar-yellow {
        @include navbarButton(#ffd000);
    }
    &.navbar-green {
        @include navbarButton(#55d34a);
    }
    &.navbar-blue {
        @include navbarButton(#29bbce);
    }
    &.navbar-purple {
        @include navbarButton(#aa40d4);

        .link-list {
            background-color: darken(#aa40d4, 5%);
        }
    }
    &.navbar-pink {
        @include navbarButton(#cc72c8);
    }
}

.button {
    font-family: "PT Sans", sans-serif;
    color: white;
    font-weight: 600;
    font-size: 1.7rem;
    border-radius: 2rem;
    padding: 1rem 2rem;
    border: 0;
    background: $button-gradient-color;
    box-shadow: 5px 5px 6px -3px rgb(192, 192, 192);
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease;
    &:hover {
        transform: scale(1.05) translateY(-2px);
        box-shadow: 5px 5px 6px -1px rgb(177, 177, 177);
    }
    &:active {
        transform: scale(1.04) translateY(2px);
        box-shadow: 5px 5px 6px -4px rgb(184, 184, 184);
    }
}

.alt-button {
    font-family: "PT Sans", sans-serif;
    color: white;
    font-weight: 600;
    font-size: 2.125rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 4.8rem;
    padding: 0.5rem 1.5rem;
    border: 0;
    background: $button-gradient-color;
    box-shadow: 3px 3px 4px -3px rgb(192, 192, 192);
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease;
    &:hover {
        transform: translateY(-1px);
        box-shadow: 4px 4px 5px -1px rgb(177, 177, 177);
    }
    &:active {
        transform: translateY(1px);
        box-shadow: 3px 3px 4px -2px rgb(184, 184, 184);
    }
}
