.canvas-container.visible {
    opacity: 1;
    pointer-events: auto;
}

/* .Canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
} */

.main-canvas {
    box-sizing: border-box;
    outline: none;
    canvas {
        margin: 0 auto;
        display: none !important;
    }
    transition: height 0.3s ease-out;
    height: 0px !important;
}

.main-canvas.visible {
    height: 400px !important;
    border: 1px solid black;
    canvas {
        display: block !important;
    }
}
