.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;

    .blocked {
        margin-top: 1rem;
        text-align: center;
        p {
            font-size: 1.8rem;
        }
    }

    @media (max-width: 768px) {
        width: 90%;
        padding: 0 0 1rem 0;
    }
}

.container .home {
    width: 90%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem;
}

.center {
    margin: 0 auto;
}

.errors {
    color: rgb(190, 0, 0);
    margin-top: 0.66rem;
    h2 {
        font-size: 1.2rem;
    }
    li {
        font-size: 0.9rem;
    }
}
