.errors {
    color: rgb(190, 0, 0);
    font-family: "PT Sans", sans-serif;
    margin-top: 0.66rem;
    h2 {
        font-size: 2rem;
        margin-bottom: 0.125rem;
    }
    li {
        margin-left: 1.5rem;
        margin-bottom: 0.25rem;
        font-size: 1.3rem;
    }
}
