.form-component {
    padding-top: 0.75rem;
    font-family: "PT Sans", sans-serif;
    label {
        display: block;
        font-size: 1.35rem;
        margin-bottom: 0.33rem;
        margin-left: 0.25rem;
        transition: all 0.2s ease;
        color: black;
    }

    label.error {
        color: rgb(136, 41, 41);
    }
    input {
        @include inputAndSelectComponent;
        box-shadow: 2px 3px 12px -6px rgba(204, 204, 204, 1);
        transition: all 0.2s ease;
        &:focus {
            outline: none;
            border-color: $input-selected-color;
            box-shadow: 2px 3px 12px -6px $input-selected-box-shadow-color;
        }
    }

    input.error,
    select.error {
        border-color: #b424247e;
    }
    select {
        display: block;
        background-color: white;
        @include inputAndSelectComponent;
        box-shadow: 2px 3px 12px -6px rgba(204, 204, 204, 1);
        transition: all 0.2s ease;
        &:focus {
            outline: none;
            border-color: $input-selected-color;
            box-shadow: 2px 3px 12px -6px $input-selected-box-shadow-color;
        }
    }

    select.multiple-items {
        option {
            padding-left: 0.5rem;
        }
    }

    select.middle-multiple-items {
        height: 17.5rem;
        option {
            padding-left: 0.5rem;
        }
    }

    select.big-multiple-items {
        height: 27.5rem;
        option {
            padding-left: 0.5rem;
        }
    }

    .flex-line {
        display: flex;
        justify-content: space-between;

        @media (max-width: 450px) {
            flex-direction: column;
            max-width: none;
        }

        .input-item-grow {
            flex-grow: 1;
            max-width: 350px;
            width: 100%;

            @media (max-width: 768px) {
                max-width: none;
            }

            @media (max-width: 450px) {
                max-width: 27rem;
            }
        }

        .input-item-grow.spacer {
            @media (max-width: 768px) {
                display: none;
            }
        }

        .input-item-grow:not(:last-child) {
            margin-right: 2rem;
        }
    }
}
