.htmlpage {
    padding: 0 2rem 1rem;
    font-family: "Andika Basic", sans-serif;
    overflow-y: scroll;
    font-size: 1.5rem;
    resize: horizontal;
    width: 55%;

    @media (max-width: 768px) {
        width: 100% !important;
        min-height: 275px;
        border-bottom: 1px solid grey;
    }
    .red {
        @include colorFont(red);
    }
    .green {
        @include colorFont(green);
    }
    .green1 {
        @include colorFont(#006400);
    }
    .green2 {
        @include colorFont(#009600);
    }
    .green3 {
        @include colorFont(#00c800);
    }
    .purple {
        @include colorFont($span-code-font);
    }
    .blue {
        @include colorFont(rgb(0, 0, 194));
    }
    .pink {
        @include colorFont(#ff00ff);
    }
    .cyan {
        @include colorFont(#00dfdf);
    }
    .yellow {
        @include colorFont(#d6bb22);
    }
    .orange {
        @include colorFont(orange);
    }

    h1 {
        margin-top: 0.75rem;
    }
    h3 {
        margin: 1.7rem 0;
        font-size: 2rem;
    }
    p {
        margin: 1.7rem 0 0 0;
    }
    .imgContainer {
        margin: 1.375rem 0 0 0;
        max-width: 35rem;
        img {
            max-width: 100%;
        }
    }

    .wideImgContainer {
        margin: 1.375rem 0 0 0;
        img {
            max-width: 100%;
        }
    }

    .quickie {
        display: grid;
        grid-template-columns: 20rem 1fr;

        @media (max-width: 768px) {
            grid-template-columns: 12.5rem 1fr;
        }
        margin-top: 0.66rem;
        .redBox {
            @include colorBox(#ff0000);
        }
        .greenBox {
            @include colorBox(#00ff00);
        }
        .green1Box {
            @include colorBox(#006400);
        }
        .green2Box {
            @include colorBox(#009600);
        }
        .green3Box {
            @include colorBox(#00c800);
        }
        .blueBox {
            @include colorBox(#0000ff);
        }
        .pinkBox {
            @include colorBox(#ff00ff);
        }
        .cyanBox {
            @include colorBox(#00ffff);
        }
        .yellowBox {
            @include colorBox(#ffff00);
        }
        .flex {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            p {
                font-family: "Montserrat", sans-serif;
                font-size: 1.4rem;
            }
            .little {
                font-family: "Montserrat", sans-serif;
                font-size: 1.1rem;
                color: rgb(66, 66, 66);
            }
            label {
                font-family: "Montserrat", sans-serif;
                font-size: 1.3rem;
                margin-bottom: 0.25rem;
            }
            input {
                @include inputQuickie;
            }
            textarea {
                @include inputQuickie;
                padding: 0.33rem 0.5rem;
            }
        }
    }

    ul,
    ol {
        margin: 0.75rem 0 0 2rem;
    }
    pre {
        @include greyBox;
        margin: 2rem 0 0 0;
        background-color: #eee;
        padding: 1rem;
        white-space: pre-wrap;
        code {
            line-height: 1.5;
        }
    }

    .clickMe {
        margin-top: 1.2rem;
        .superText {
            display: inline-block;
            font-size: 1rem;
            letter-spacing: 1px;
            text-transform: uppercase;
            cursor: pointer;
            color: rgb(94, 40, 180);
            &:hover {
                animation: jiggle 1s ease;
                animation-iteration-count: 1;
            }
        }
        .hiddenText {
            @include greyBox;
            line-height: 1.5;
            opacity: 0;
            transform: scaleY(0);
            max-height: 0px;
            transition: all 0.6s ease-in-out;
            padding: 1rem;
            cursor: text;
            &.visible {
                opacity: 1;
                transform: scaleY(1);
                max-height: 1000px;
            }
            code {
                line-height: 1;
                white-space: pre-wrap;
            }
        }
    }
}
