.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: $primary-color;
    background: -moz-linear-gradient(left, $primary-color 10%, rgba(91, 87, 87, 0) 42%);
    background: -webkit-linear-gradient(left, $primary-color 10%, rgba(91, 87, 87, 0) 42%);
    background: -o-linear-gradient(left, $primary-color 10%, rgba(91, 87, 87, 0) 42%);
    background: -ms-linear-gradient(left, $primary-color 10%, rgba(91, 87, 87, 0) 42%);
    background: linear-gradient(to right, $primary-color 10%, rgba(91, 87, 87, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.loader:before {
    width: 50%;
    height: 50%;
    background: $primary-color;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
}
.loader:after {
    background: #fff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.spinner-loading {
    margin-left: 0.5rem;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 4px solid rgba(177, 183, 235, 0.644);
    border-radius: 50%;
    border-top-color: rgba(20, 38, 194, 0.644);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

.spinner-loading-alt {
    margin-left: 0.5rem;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 4px solid rgba(165, 168, 187, 0.644);
    border-radius: 50%;
    border-top-color: rgba(20, 38, 194, 0.644);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
