.toolbar {
    svg {
        margin: 0 0.25rem;
    }
    display: flex;
    font-size: 1.6rem;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0.6rem;
    background-color: #eeeeee;
    min-width: 32rem;
    button {
        font-size: 1.2rem;
        position: relative;
        border: 1px solid grey;
        padding: 4px;
        border-radius: 5px;
        font-family: "Andika Basic", sans-serif;
        background-color: #dddddd;
        box-shadow: 0 0 0px $box-shadow-color;
        transition: background-color 0.3s ease-out, color 0.3s ease-out;
        cursor: pointer;
        &:focus {
            outline: none;
        }
        &:active {
            background-color: #cccccc;
        }
        &::after {
            content: "";
            position: absolute;
            box-shadow: 0 0 7px $box-shadow-color;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }
        &:hover::after {
            opacity: 1;
        }
    }

    .flexdiv {
        display: flex;
        align-items: center;
        label {
            position: relative;
            display: inline-block;
            font-size: 0.825rem;
        }
        input {
            opacity: 0;
        }
    }

    .run-code-button {
        margin-left: 0.5rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        &.turns-grey {
            color: grey;
            &.black {
                color: black;
            }
            svg {
                margin: 0 0.25rem 0 0;
                &.yellow {
                    color: #f08e0dfa;
                }
                &.green {
                    color: #3ead3e;
                }
            }
        }
    }

    .numbers {
        display: inline-block;
        .number-button {
            &.completed {
                background-color: $number-button-completed-color;
            }
            &.active-button {
                background-color: $number-button-active-color;
                color: $number-button-active-font-color;
                border: 1px solid $number-button-active-border-color;
            }
            padding: 0 0.55rem;
            &:not(:last-child) {
                margin-right: 0.33rem;
            }
            box-shadow: none;
            &::after {
                outline: none;
                box-shadow: none;
            }
        }
    }

    .toolbar-button {
        margin-left: 0.26rem;
        padding: 0 0.4rem;
        box-shadow: none;
        border: 1px solid #5f5f5fcc;
        background-color: #949494;
        color: white;
        &::after {
            content: "";
            position: absolute;
            box-shadow: 0 0 0px #808080;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }
    }

    .toolbar-text {
        display: inline-block;
        font-size: 1.2rem;
    }

    .center-toolbar {
        display: flex;
        align-items: center;
        &-section {
            display: flex;
            align-items: center;
            max-width: 6.75rem;
            width: 100%;
            justify-content: space-between;
        }
    }

    &.canvas-toolbar {
        background-color: #e7e7e7;
        border-bottom: 1px solid #c9c9c9;

        .toolbar-button {
            background-color: #acacac;
            border: 1px solid #858585cc;
        }
    }

    &.console-toolbar {
        background-color: #414141;
        color: white;
        border-bottom: 1px solid #696969;
        .toolbar-button {
            border: 1px solid #727272cc;
            background-color: #2c2c2c;
        }
    }

    .console-toolbar.alert {
        animation: blink 3s linear infinite;
    }
}
