.pagination-toolbar {
    margin-top: 1rem;
    button {
        padding: 0.5rem 0.75rem;
        font-family: "PT Sans", sans-serif;
        border: 1px solid rgb(131, 131, 131);
        cursor: pointer;

        &:focus {
            box-shadow: 0px 1px 10px -3px rgb(109, 109, 109);
            outline: none;
        }

        &.previous-button {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            padding-left: 1rem;
            &:focus {
                outline: none;
            }
        }

        &.next-button {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            padding-left: 1rem;
            &:focus {
                outline: none;
            }
        }

        &.selected {
            background-color: #b43030;
            color: white;
            font-weight: 600;
        }
        &:not(:last-child) {
            border-right: 0;
        }
    }
}
