@mixin greyBox {
    border: 2px solid rgb(185, 185, 185);
    border-radius: 5px;
    padding: 0.5rem 0.75rem;
    background-color: #eeeeee;
}

@mixin colorFont($selectedColor) {
    color: $selectedColor;
    font-weight: 600;
    font-size: 1.6rem;
}

@mixin colorBox($selectedColor) {
    background-color: $selectedColor;
    height: 10rem;
    width: 10rem;
}

@mixin inputQuickie {
    display: block;
    position: relative;
    width: 100%;
    max-width: 300px;
    padding: 0.33rem 0.5rem;
    font-size: 1.3rem;
    font-family: "Source Code Pro", sans-serif;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: 0px 0px 0px rgb(223, 223, 240);
    &:focus {
        outline: none;
        box-shadow: 3px 3px 7px rgb(223, 223, 240);
    }
}

@mixin toolbarButton {
    position: relative;
    width: 20px;
    height: 20px;
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-75%, -45%);
    }
}

@mixin navbarButton($navbar-color) {
    background-color: $navbar-color;
    &:hover:before {
        background-color: lighten($navbar-color, 20%);
        width: 100%;
    }
}

@mixin profileInfoComponent {
    background: rgb(207, 61, 61);
    background: linear-gradient(270deg, rgba(207, 61, 61, 1) 0%, rgb(177, 71, 71) 100%);
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0.75rem 2rem 0.66rem;
}

@mixin profileInfoComponentTitle {
    font-family: "PT Sans", sans-serif;
    line-height: 1.4;
    font-size: 1.85em;
    font-weight: 600;
}

@mixin profileInfoContainer {
    background-color: $component-background-color;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 4px 10px -7px rgb(170, 170, 170);
}

@mixin inputAndSelectComponent {
    border-radius: 12px;
    padding: 0.5rem 1rem;
    border: 2px solid rgb(207, 207, 207);
    margin-bottom: 0.8rem;
    width: 100%;
    font-family: "PT Sans", sans-serif;
}
