$primary-color: #cf3d3d;
$info-color-text: rgb(27, 27, 27);
$primary-info-color: rgb(247, 247, 247);
$secondary-info-color: rgb(240, 240, 240);
$box-shadow-color: #9ecaed;

// color-scheme
$gradient-color: linear-gradient(270deg, rgba(207, 61, 61, 1) 0%, rgb(177, 71, 71) 100%);
$button-gradient-color: linear-gradient(285deg, rgb(223, 50, 50) 0%, rgb(175, 53, 53) 100%);

//code
$span-code-font: #391672d2;

// navbar

$navbar-height: 5.25rem;

// codemirror

$codemirror-height: 17.5rem;

// number buttons

$number-button-completed-color: #a0da92;
$number-button-active-color: #8075ac;
$number-button-active-border-color: #605392cc;
$number-button-active-font-color: white;

// info components
$component-background-color: rgb(247, 247, 247);

// input
$input-selected-color: #93b6d3;
$input-selected-box-shadow-color: #9ecaed;

// TOAST VARIABLES

$rt-namespace: "Toastify";
$rt-toast-width: 320px !default;
$rt-toast-background: #fff !default;
$rt-toast-min-height: 64px !default;
$rt-toast-max-height: 800px !default;

$rt-color-default: #fff !default;
$rt-color-dark: #121212 !default;
$rt-color-info: #3498db !default;
$rt-color-success: #07bc0c !default;
$rt-color-warning: #f1c40f !default;
$rt-color-error: #e74c3c !default;

$rt-text-color-default: #aaa !default;
$rt-text-color-dark: #fff !default;

$rt-color-progress-default: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55) !default;
$rt-color-progress-dark: #bb86fc !default;
$rt-mobile: "only screen and (max-width : 480px)" !default;
$rt-font-family: sans-serif !default;
$rt-z-index: 9999 !default;
