*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    overflow: scroll;
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
}

main {
    height: calc(100% - #{$navbar-height});
    .no-layout {
        height: 100%;
    }
}
