.svg-inline--fa {
    transition: transform 0.3s ease-out;
}

.svg-inline--fa.tilted {
    transform: rotateZ(-90deg);
}

.relative {
    position: relative;
}

.text-center {
    text-align: center;
}

.margin-bottom-small {
    margin-bottom: 0.8rem;
}

.margin-top-small {
    margin-top: 0.25rem;
}

.margin-top-small-2 {
    margin-top: 0.5rem;
}

.margin-top-small-3 {
    margin-top: 0.75rem;
}

.margin-top-1 {
    margin-top: 1rem !important;
}

.margin-top-1-5 {
    margin-top: 1.5rem !important;
}

.clickable {
    cursor: pointer;
}

.flex-center-helper {
    display: flex;
    align-items: center;

    div:not(:first-child) {
        margin-left: 0.75rem;
    }
}

.button-toolbar-helper {
    button:not(:last-child) {
        margin-right: 0.5rem;
    }
}
